In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [381]:
driver=webdriver.Chrome(r"C:\Users\Harshil Goradia\Downloads\chromedriver_win32\chromedriver")

In [382]:
driver.maximize_window()

In [383]:
driver.get("https://www.olx.in/cars_c84")

In [36]:
maha_btn=driver.find_elements_by_xpath("//ul[@class='_3eZBP _1TJht rui-1Culj _2XSBC']/li/ul/li/a")
for i in maha_btn:
    if i.text =='Kerala':
        i.click()
        break

In [49]:
#press this button 12-13 times.

button=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
button.click()

In [50]:
link1=[]
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']//li/a"):
    link1.append(i.get_attribute("href"))

In [51]:
len(link1)

513

In [52]:
model=[]
owner=[]
transmision=[]
fuel=[]
kilometer=[]
variant=[]
location=[]
price=[]

In [53]:
for i in link1:
    driver.get(i)
    
    try:
        model_=driver.find_element_by_xpath("//div[@class='_35xN1']")
        model.append(model_.text)
    except NoSuchElementException:
        model.append('-')
        
    try:
        location_=driver.find_element_by_xpath("//div[@class='_1l939']/div[2]/div[2]")
        location.append(location_.text)
    except NoSuchElementException:
        location.append('-')
        
        
    try:
        owner_=driver.find_element_by_xpath("//div[@class='_1l939']/div/div[2]")
        owner.append(owner_.text)
    except NoSuchElementException:    
        owner.append('-')
        
    try:
        trans_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div")
        transmision.append(trans_.text)
    except NoSuchElementException:
        transmision.append('-')    

    try:
        fuel_=driver.find_element_by_xpath("//div[@class='aOxkz']/div/div")
        fuel.append(fuel_.text)
    except NoSuchElementException:    
        fuel.append('-')    
        
    try:
        kilometer_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div")
        kilometer.append(kilometer_.text)
    except NoSuchElementException:
        kilometer.append('-')
        
    try:
        variant_=driver.find_element_by_xpath("//div[@class='_3tLee']")
        variant.append(variant_.text)
    except NoSuchElementException:
        variant.append('-')    
     
    try:
        price_=driver.find_element_by_xpath("//div[@class='_3FkyT']")
        price.append(price_.text)
    except NoSuchElementException:
        price.append('-')

In [65]:
Car513= pd.DataFrame()
Car513['Model']=model
Car513['Variant']=variant
Car513['Location']=location
Car513['Fuel Type']=fuel
Car513['Transmission']=transmision
Car513['Kilometer']=kilometer
Car513['Owner']=owner
Car513['Price']=price
Car513

,Model,Variant,Location,Fuel Type,Transmission,Kilometer,Owner,Price
0,Volkswagen Vento (2012),1.6 Highline,"Location\nRailway Station Square, Aluva",PETROL,MANUAL,79000.0 KM,Owner\n1st,"₹ 3,65,000"
1,Honda Mobilio (2014),S i-DTEC,"Location\nEdapally, Kochi",DIESEL,MANUAL,"130,000 KM",Owner\n1st,"₹ 3,75,000"
2,Maruti Suzuki Swift (2020),VXI,"Location\nAyathil, Kollam",PETROL,MANUAL,10000.0 KM,Owner\n1st,"₹ 6,45,000"
3,Toyota Etios Liva (2011),Etios Liva G SP*,"Location\nNedumbassery, Kochi",PETROL,MANUAL,50000 KM,Owner\nSecond,"₹ 3,55,000"
4,Maruti Suzuki Ritz (2009),2009-2011 VXI,"Location\nThammanam, Kochi",PETROL,MANUAL,90000 KM,Owner\nFirst,"₹ 2,60,000"
...,...,...,...,...,...,...,...,...
508,Toyota Camry (2008),2002-2011 W4 (AT),"Location\nVyttila, Kochi",--,--,55.0 KM,Owner\n--,"₹ 50,000"
509,Maruti Suzuki Swift (2015),VDI,"Location\nChandranagar, Palakkad",DIESEL,MANUAL,81230.0 KM,Owner\n1st,"₹ 4,69,000"
510,Maruti Suzuki Swift (2013),ZXI,"Location\nKathrikadavu, Kochi",PETROL,--,57000.0 KM,Owner\n1st,"₹ 4,80,000"
511,Volkswagen Polo (2011),1.0 MPI Trendline,"Location\nKathrikadavu, Kochi",--,--,80000.0 KM,Owner\n2nd,"₹ 3,00,000"
512,Renault Kwid (2011),AMT,"Location\nKathrikadavu, Kochi",--,AUTOMATIC,24000.0 KM,Owner\n2nd,"₹ 3,90,000"

In [88]:
back_btn=driver.find_element_by_xpath("//ol[@class='rui-10Yqz']/li[3]/a")
back_btn.click()

In [89]:
search=driver.find_element_by_xpath("//input[@class='_2xvhw']")
search.send_keys("Delhi")

In [90]:
search_enter=driver.find_element_by_xpath("//div[@class='_2HzJo']/div[2]")
search_enter.click()

In [92]:
link2=[]
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']//li/a"):
    link2.append(i.get_attribute("href"))

In [93]:
len(link2)

500

In [94]:
model=[]
owner=[]
transmision=[]
fuel=[]
kilometer=[]
variant=[]
location=[]
price=[]

for i in link2:
    driver.get(i)
    
    try:
        model_=driver.find_element_by_xpath("//div[@class='_35xN1']")
        model.append(model_.text)
    except NoSuchElementException:
        model.append('-')
        
    try:
        location_=driver.find_element_by_xpath("//div[@class='_1l939']/div[2]/div[2]")
        location.append(location_.text)
    except NoSuchElementException:
        location.append('-')
        
        
    try:
        owner_=driver.find_element_by_xpath("//div[@class='_1l939']/div/div[2]")
        owner.append(owner_.text)
    except NoSuchElementException:    
        owner.append('-')
        
    try:
        trans_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div")
        transmision.append(trans_.text)
    except NoSuchElementException:
        transmision.append('-')    

    try:
        fuel_=driver.find_element_by_xpath("//div[@class='aOxkz']/div/div")
        fuel.append(fuel_.text)
    except NoSuchElementException:    
        fuel.append('-')    
        
    try:
        kilometer_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div")
        kilometer.append(kilometer_.text)
    except NoSuchElementException:
        kilometer.append('-')
        
    try:
        variant_=driver.find_element_by_xpath("//div[@class='_3tLee']")
        variant.append(variant_.text)
    except NoSuchElementException:
        variant.append('-')    
     
    try:
        price_=driver.find_element_by_xpath("//div[@class='_3FkyT']")
        price.append(price_.text)
    except NoSuchElementException:
        price.append('-')

In [95]:
Car_D= pd.DataFrame()
Car_D['Model']=model
Car_D['Variant']=variant
Car_D['Location']=location
Car_D['Fuel Type']=fuel
Car_D['Transmission']=transmision
Car_D['Kilometer']=kilometer
Car_D['Owner']=owner
Car_D['Price']=price
Car_D

,Model,Variant,Location,Fuel Type,Transmission,Kilometer,Owner,Price
0,Land Rover Discovery (2018),HSE 3.0 Si6,"Location\nVikaspuri, Delhi",PETROL,AUTOMATIC,41000.0 KM,Owner\n1st,"₹ 59,00,000"
1,Maruti Suzuki Swift (2018),2018 LDI,"Location\nRajendra Place, Delhi",DIESEL,MANUAL,69000.0 KM,Owner\n1st,"₹ 5,10,000"
2,Maruti Suzuki Ertiga (2013),LDI,"Location\nKalkaji, Delhi",DIESEL,MANUAL,70000.0 KM,Owner\n1st,"₹ 3,75,000"
3,Mahindra Xuv500 (2014),2011-2015 W6 2WD,"Location\nUttam Nagar, Delhi",DIESEL,MANUAL,73671 KM,Owner\nFirst,"₹ 6,50,000"
4,Honda Wr-V (2020),i-DTEC VX,"Location\nLajpat Nagar 1, Delhi",DIESEL,MANUAL,44000 KM,Owner\nFirst,"₹ 7,50,000"
...,...,...,...,...,...,...,...,...
495,Maruti Suzuki Wagon R 1.0 (2014),,"Location\nKarol Bagh, Delhi",PETROL,--,30000.0 KM,Owner\n--,"₹ 2,60,000"
496,Mahindra Xuv500 (2012),,"Location\nKarol Bagh, Delhi",DIESEL,--,56000.0 KM,Owner\n--,"₹ 5,00,000"
497,Maruti Suzuki Ertiga (2015),,"Location\nKarol Bagh, Delhi",DIESEL,--,37000.0 KM,Owner\n--,"₹ 5,75,000"
498,Maruti Suzuki Swift Dzire (2017),VDI,"Location\nGeeta Colony, Delhi",DIESEL,MANUAL,62000.0 KM,Owner\n1st,"₹ 5,95,000"
499,Hyundai Elite I20 (2014),Magna 1.2,"Location\nGeeta Colony, Delhi",PETROL,MANUAL,26000.0 KM,Owner\n2nd,"₹ 4,25,000"

In [172]:
search=driver.find_element_by_xpath("//input[@class='_2xvhw']")
search.send_keys("Bangalore")

In [173]:
search_enter=driver.find_element_by_xpath("//div[@class='_2HzJo']/div[2]")
search_enter.click()

In [188]:
button=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
button.click()

In [189]:
link3=[]
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']//li/a"):
    link3.append(i.get_attribute("href"))

In [190]:
len(link3)

575

In [191]:
model=[]
owner=[]
transmision=[]
fuel=[]
kilometer=[]
variant=[]
location=[]
price=[]

for i in link3:
    driver.get(i)
    
    try:
        model_=driver.find_element_by_xpath("//div[@class='_35xN1']")
        model.append(model_.text)
    except NoSuchElementException:
        model.append('-')
        
    try:
        location_=driver.find_element_by_xpath("//div[@class='_1l939']/div[2]/div[2]")
        location.append(location_.text)
    except NoSuchElementException:
        location.append('-')
        
        
    try:
        owner_=driver.find_element_by_xpath("//div[@class='_1l939']/div/div[2]")
        owner.append(owner_.text)
    except NoSuchElementException:    
        owner.append('-')
        
    try:
        trans_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div")
        transmision.append(trans_.text)
    except NoSuchElementException:
        transmision.append('-')    

    try:
        fuel_=driver.find_element_by_xpath("//div[@class='aOxkz']/div/div")
        fuel.append(fuel_.text)
    except NoSuchElementException:    
        fuel.append('-')    
        
    try:
        kilometer_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div")
        kilometer.append(kilometer_.text)
    except NoSuchElementException:
        kilometer.append('-')
        
    try:
        variant_=driver.find_element_by_xpath("//div[@class='_3tLee']")
        variant.append(variant_.text)
    except NoSuchElementException:
        variant.append('-')    
     
    try:
        price_=driver.find_element_by_xpath("//div[@class='_3FkyT']")
        price.append(price_.text)
    except NoSuchElementException:
        price.append('-')

In [192]:
Car_B= pd.DataFrame()
Car_B['Model']=model
Car_B['Variant']=variant
Car_B['Location']=location
Car_B['Fuel Type']=fuel
Car_B['Transmission']=transmision
Car_B['Kilometer']=kilometer
Car_B['Owner']=owner
Car_B['Price']=price
Car_B

,Model,Variant,Location,Fuel Type,Transmission,Kilometer,Owner,Price
0,Other Brands Others (2021),,"Location\nBangalore Highway, Dhone",DIESEL,AUTOMATIC,20 KM,Owner\n1st,"₹ 40,000"
1,Mahindra Logan (2007),Diesel 1.5 DLX,"Location\nBangalore Highway, Dhone",DIESEL,AUTOMATIC,"170,000 KM",Owner\n1st,"₹ 1,20,000"
2,Hyundai I20 (2013),1.4 Sportz,"Location\nBangalore Highway, Dhone",DIESEL,MANUAL,"78,000 KM",Owner\n3rd,"₹ 4,50,000"
3,Tata Indica Vista (2013),2008-2013 Aqua TDI BSIII,"Location\nBangalore Highway, Dhone",DIESEL,MANUAL,"165,000 KM",Owner\n2nd,"₹ 2,20,000"
4,Bajaj Others (2018),,"Location\nBangalore Highway, Dhone",DIESEL,MANUAL,"33,000 KM",Owner\n1st,"₹ 1,10,000"
...,...,...,...,...,...,...,...,...
570,Toyota Innova (2005),2.5 V 7 STR,"Location\nSankalapuram, Hosapete",DIESEL,MANUAL,"200,000 KM",Owner\n2nd,"₹ 4,75,000"
571,Toyota Etios (2018),1.4 GD,"Location\nDeosugur, Shaktinagar",DIESEL,MANUAL,"80,500 KM",Owner\n2nd,"₹ 5,25,000"
572,Nissan X-Trail (2005),2004-2009 Comfort,"Location\nNayini Nagar, Mahbubnagar",DIESEL,MANUAL,"105,000 KM",Owner\n2nd,"₹ 3,50,000"
573,Maruti Suzuki Ritz (2012),Others,"Location\nNaresh Complex, Sindhnur",DIESEL,AUTOMATIC,"160,166 KM",Owner\n1st,"₹ 4,00,000"
574,Hyundai Xcent (2017),2016-2017 1.1 CRDi S,"Location\nVasavi Nagar, Mydukur",DIESEL,MANUAL,"100,000 KM",Owner\n1st,"₹ 5,00,000"

In [120]:
back_btn=driver.find_element_by_xpath("//ol[@class='rui-10Yqz']/li[3]/a")
back_btn.click()

In [123]:
search=driver.find_element_by_xpath("//input[@class='_2xvhw']")
search.send_keys("Indore")

In [124]:
search_enter=driver.find_element_by_xpath("//div[@class='_2HzJo']/div")
search_enter.click()

In [138]:
button=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
button.click()

In [139]:
link4=[]
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']//li/a"):
    link4.append(i.get_attribute("href"))

In [141]:
len(link4)

526

In [142]:
model=[]
owner=[]
transmision=[]
fuel=[]
kilometer=[]
variant=[]
location=[]
price=[]

for i in link4:
    driver.get(i)
    
    try:
        model_=driver.find_element_by_xpath("//div[@class='_35xN1']")
        model.append(model_.text)
    except NoSuchElementException:
        model.append('-')
        
    try:
        location_=driver.find_element_by_xpath("//div[@class='_1l939']/div[2]/div[2]")
        location.append(location_.text)
    except NoSuchElementException:
        location.append('-')
        
        
    try:
        owner_=driver.find_element_by_xpath("//div[@class='_1l939']/div/div[2]")
        owner.append(owner_.text)
    except NoSuchElementException:    
        owner.append('-')
        
    try:
        trans_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div")
        transmision.append(trans_.text)
    except NoSuchElementException:
        transmision.append('-')    

    try:
        fuel_=driver.find_element_by_xpath("//div[@class='aOxkz']/div/div")
        fuel.append(fuel_.text)
    except NoSuchElementException:    
        fuel.append('-')    
        
    try:
        kilometer_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div")
        kilometer.append(kilometer_.text)
    except NoSuchElementException:
        kilometer.append('-')
        
    try:
        variant_=driver.find_element_by_xpath("//div[@class='_3tLee']")
        variant.append(variant_.text)
    except NoSuchElementException:
        variant.append('-')    
     
    try:
        price_=driver.find_element_by_xpath("//div[@class='_3FkyT']")
        price.append(price_.text)
    except NoSuchElementException:
        price.append('-')

In [144]:
Car_I= pd.DataFrame()
Car_I['Model']=model
Car_I['Variant']=variant
Car_I['Location']=location
Car_I['Fuel Type']=fuel
Car_I['Transmission']=transmision
Car_I['Kilometer']=kilometer
Car_I['Owner']=owner
Car_I['Price']=price
Car_I

,Model,Variant,Location,Fuel Type,Transmission,Kilometer,Owner,Price
0,Maruti Suzuki Swift Dzire (2014),VXI,"Location\nShalimar Township, Indore",PETROL,MANUAL,48213.0 KM,Owner\n1st,"₹ 4,95,000"
1,Hyundai Grand I10 (2015),2013-2016 CRDi Asta,"Location\nSatyasai Road, Indore",DIESEL,MANUAL,72000.0 KM,Owner\n1st,"₹ 5,35,000"
2,Ford Aspire (2016),Others,"Location\nShalimar Township, Indore",DIESEL,MANUAL,52349.0 KM,Owner\n1st,"₹ 4,90,000"
3,Mahindra Thar (2017),CRDe,"Location\nKailash Park, Indore",DIESEL,MANUAL,37638 KM,Owner\nFirst,"₹ 8,00,000"
4,Renault Duster (2013),2012-2015 85PS Diesel RxL Optional,"Location\nRaj Mohalla, Indore",DIESEL,MANUAL,37362 KM,Owner\nFirst,"₹ 5,80,000"
...,...,...,...,...,...,...,...,...
521,Ford Ecosport (2014),Titanium 1.5 TDCi (Opt),"Location\nFree Ganj, Ujjain",DIESEL,MANUAL,"69,000 KM",Owner\n1st,"₹ 5,51,000"
522,Chevrolet Tavera Neo (2014),Others,"Location\nShibaji Park Colony, Ujjain",DIESEL,MANUAL,75000.0 KM,Owner\n1st,"₹ 6,51,000"
523,Maruti Suzuki Ciaz (2019),1.4 Delta,"Location\nDewas Sun City, Dewas",DIESEL,MANUAL,24000.0 KM,Owner\n1st,"₹ 9,50,000"
524,Maruti Suzuki Vitara Brezza (2017),ZDi,"Location\nMeenashri Colony, Dewas",DIESEL,MANUAL,78000.0 KM,Owner\n1st,"₹ 8,75,000"
525,Hyundai Xcent (2015),2014-2016 1.1 CRDi SX,"Location\nSanwer, Sonkatch",DIESEL,MANUAL,"77,000 KM",Owner\n1st,"₹ 4,25,000"

In [194]:
back_btn=driver.find_element_by_xpath("//ol[@class='rui-10Yqz']/li[3]/a")
back_btn.click()

In [195]:
search=driver.find_element_by_xpath("//input[@class='_2xvhw']")
search.send_keys("Kolkata")

In [196]:
search_enter=driver.find_element_by_xpath("//div[@class='_2HzJo']/div")
search_enter.click()

In [210]:
button=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
button.click()

In [211]:
link5=[]
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']//li/a"):
    link5.append(i.get_attribute("href"))

In [212]:
len(link5)

540

In [213]:
model=[]
owner=[]
transmision=[]
fuel=[]
kilometer=[]
variant=[]
location=[]
price=[]

for i in link5:
    driver.get(i)
    
    try:
        model_=driver.find_element_by_xpath("//div[@class='_35xN1']")
        model.append(model_.text)
    except NoSuchElementException:
        model.append('-')
        
    try:
        location_=driver.find_element_by_xpath("//div[@class='_1l939']/div[2]/div[2]")
        location.append(location_.text)
    except NoSuchElementException:
        location.append('-')
        
        
    try:
        owner_=driver.find_element_by_xpath("//div[@class='_1l939']/div/div[2]")
        owner.append(owner_.text)
    except NoSuchElementException:    
        owner.append('-')
        
    try:
        trans_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div")
        transmision.append(trans_.text)
    except NoSuchElementException:
        transmision.append('-')    

    try:
        fuel_=driver.find_element_by_xpath("//div[@class='aOxkz']/div/div")
        fuel.append(fuel_.text)
    except NoSuchElementException:    
        fuel.append('-')    
        
    try:
        kilometer_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div")
        kilometer.append(kilometer_.text)
    except NoSuchElementException:
        kilometer.append('-')
        
    try:
        variant_=driver.find_element_by_xpath("//div[@class='_3tLee']")
        variant.append(variant_.text)
    except NoSuchElementException:
        variant.append('-')    
     
    try:
        price_=driver.find_element_by_xpath("//div[@class='_3FkyT']")
        price.append(price_.text)
    except NoSuchElementException:
        price.append('-')    
        
        
Car_Ko= pd.DataFrame()
Car_Ko['Model']=model
Car_Ko['Variant']=variant
Car_Ko['Location']=location
Car_Ko['Fuel Type']=fuel
Car_Ko['Transmission']=transmision
Car_Ko['Kilometer']=kilometer
Car_Ko['Owner']=owner
Car_Ko['Price']=price
Car_Ko

,Model,Variant,Location,Fuel Type,Transmission,Kilometer,Owner,Price
0,Mahindra Tuv 300 (2019),T4 PLUS,"Location\nKankurgachhi, Kolkata",DIESEL,MANUAL,10000.0 KM,Owner\n1st,"₹ 8,30,000"
1,Honda City (2016),2015-2017 i DTec V,"Location\nSaltlake Sector 1, Kolkata",DIESEL,MANUAL,45000.0 KM,Owner\n1st,"₹ 5,39,991"
2,Jeep Compass (2018),2.0 Limited Option 4X4,"Location\nBidhannagar, Kolkata",DIESEL,MANUAL,39000.0 KM,Owner\n1st,"₹ 14,55,000"
3,Hyundai Verna (2012),2011-2014 1.6 SX,"Location\nBallygunge Circular Area, Kolkata",DIESEL,MANUAL,49666 KM,Owner\nFirst,"₹ 3,90,000"
4,Renault Duster (2016),85PS Diesel RxS,"Location\nManiktala, Kolkata",DIESEL,MANUAL,50509 KM,Owner\nFirst,"₹ 6,00,000"
...,...,...,...,...,...,...,...,...
535,Maruti Suzuki Celerio (2015),2014-2017 VXI,"Location\nThakurpukur, Kolkata",PETROL,MANUAL,36476 KM,Owner\nFirst,"₹ 3,10,000"
536,Honda City (2015),2014-2015 i VTEC S,"Location\nThakurpukur, Kolkata",PETROL,MANUAL,27201 KM,Owner\nFirst,"₹ 4,80,000"
537,Honda Brio (2013),2011-2013 V MT,"Location\nThakurpukur, Kolkata",PETROL,MANUAL,39928 KM,Owner\nFirst,"₹ 2,50,000"
538,Honda City (2010),2008-2011 1.5 V MT,"Location\nThakurpukur, Kolkata",PETROL,MANUAL,29515 KM,Owner\nFirst,"₹ 3,20,000"
539,Maruti Suzuki Alto K10 (2014),LXI,"Location\nThakurpukur, Kolkata",PETROL,MANUAL,38832 KM,Owner\nFirst,"₹ 2,25,000"

In [339]:
back_btn=driver.find_element_by_xpath("//ol[@class='rui-10Yqz']/li[3]/a")
back_btn.click()

In [340]:
search=driver.find_element_by_xpath("//input[@class='_2xvhw']")
search.send_keys("Goa")

In [341]:
search_enter=driver.find_element_by_xpath("//div[@class='_2HzJo']/div")
search_enter.click()

In [355]:
button=driver.find_button=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
button.click()

In [356]:
link6=[]
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']//li/a"):
    link6.append(i.get_attribute("href"))

In [357]:
len(link6)

501

In [232]:
model=[]
owner=[]
transmision=[]
fuel=[]
kilometer=[]
variant=[]
location=[]
price=[]

for i in link6:
    driver.get(i)
    
    try:
        model_=driver.find_element_by_xpath("//div[@class='_35xN1']")
        model.append(model_.text)
    except NoSuchElementException:
        model.append('-')
        
    try:
        location_=driver.find_element_by_xpath("//div[@class='_1l939']/div[2]/div[2]")
        location.append(location_.text)
    except NoSuchElementException:
        location.append('-')
        
        
    try:
        owner_=driver.find_element_by_xpath("//div[@class='_1l939']/div/div[2]")
        owner.append(owner_.text)
    except NoSuchElementException:    
        owner.append('-')
        
    try:
        trans_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div")
        transmision.append(trans_.text)
    except NoSuchElementException:
        transmision.append('-')    

    try:
        fuel_=driver.find_element_by_xpath("//div[@class='aOxkz']/div/div")
        fuel.append(fuel_.text)
    except NoSuchElementException:    
        fuel.append('-')    
        
    try:
        kilometer_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div")
        kilometer.append(kilometer_.text)
    except NoSuchElementException:
        kilometer.append('-')
        
    try:
        variant_=driver.find_element_by_xpath("//div[@class='_3tLee']")
        variant.append(variant_.text)
    except NoSuchElementException:
        variant.append('-')    
     
    try:
        price_=driver.find_element_by_xpath("//div[@class='_3FkyT']")
        price.append(price_.text)
    except NoSuchElementException:
        price.append('-')    
        
        
Car_Go= pd.DataFrame()
Car_Go['Model']=model
Car_Go['Variant']=variant
Car_Go['Location']=location
Car_Go['Fuel Type']=fuel
Car_Go['Transmission']=transmision
Car_Go['Kilometer']=kilometer
Car_Go['Owner']=owner
Car_Go['Price']=price
Car_Go

,Model,Variant,Location,Fuel Type,Transmission,Kilometer,Owner,Price
0,Honda Jazz (2015),Exclusive CVT,"Location\nVidya Nagar, Vasco Da Gama",PETROL,AUTOMATIC,49000.0 KM,Owner\n2nd,"₹ 4,45,000"
1,Toyota Etios Cross (2014),1.2 G X Edition,"Location\nVidya Nagar, Vasco Da Gama",PETROL,MANUAL,75000.0 KM,Owner\n1st,"₹ 3,75,000"
2,Maruti Suzuki Wagon R (2016),AMT VXI,"Location\nVidyanagar Colony, Vasco Da Gama",PETROL,AUTOMATIC,36000.0 KM,Owner\n1st,"₹ 3,85,000"
3,Hyundai I20 (2011),,"Location\nDoverlim, Davorlim",PETROL,--,66000.0 KM,Owner\n2nd,"₹ 2,70,000"
4,Honda Amaze (2016),S i-VTEC,"Location\nElectricity Department Colony, Margao",PETROL,MANUAL,103000.0 KM,Owner\n1st,"₹ 3,25,000"
...,...,...,...,...,...,...,...,...
497,Maruti Suzuki Eeco (2015),5 STR WITH A/C+HTR,"Location\nJaydev Wada, Aldona",PETROL,MANUAL,"110,000 KM",Owner\n2nd,"₹ 2,80,000"
498,Chevrolet Tavera (2004),2003-2007 B1-10 seats BSIII,"Location\nGogal, Margao",DIESEL,MANUAL,"200,000 KM",Owner\n2nd,"₹ 2,40,000"
499,Maruti Suzuki Zen (2006),VXi - BS III,"Location\nMarshal, Orgao",PETROL,MANUAL,"79,000 KM",Owner\n3rd,"₹ 1,30,000"
500,Renault Duster (2013),2012-2015 85PS Diesel RxL,"Location\nMahamaya Nagar, Bicholim",DIESEL,MANUAL,"130,000 KM",Owner\n4+,"₹ 5,50,000"
501,Maruti Suzuki Vitara Brezza (2017),VDi,"Location\nMPT Baina Colony, Vasco Da Gama",DIESEL,MANUAL,"36,000 KM",Owner\n1st,"₹ 7,00,000"

In [279]:
driver=webdriver.Chrome(r"C:\Users\Harshil Goradia\Downloads\chromedriver_win32\chromedriver")

driver.maximize_window()

driver.get("https://www.olx.in/cars_c84")

In [280]:
search=driver.find_element_by_xpath("//input[@class='_2xvhw']")
search.send_keys("Surat")

In [281]:
search_enter=driver.find_element_by_xpath("//div[@class='_2HzJo']/div")
search_enter.click()

In [300]:
button=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
button.click()

In [303]:
link7=[]
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']//li/a"):
    link7.append(i.get_attribute("href"))

In [304]:
len(link7)

652

In [305]:
model=[]
owner=[]
transmision=[]
fuel=[]
kilometer=[]
variant=[]
location=[]
price=[]

for i in link7:
    driver.get(i)
    
    try:
        model_=driver.find_element_by_xpath("//div[@class='_35xN1']")
        model.append(model_.text)
    except NoSuchElementException:
        model.append('-')
        
    try:
        location_=driver.find_element_by_xpath("//div[@class='_1l939']/div[2]/div[2]")
        location.append(location_.text)
    except NoSuchElementException:
        location.append('-')
        
        
    try:
        owner_=driver.find_element_by_xpath("//div[@class='_1l939']/div/div[2]")
        owner.append(owner_.text)
    except NoSuchElementException:    
        owner.append('-')
        
    try:
        trans_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div")
        transmision.append(trans_.text)
    except NoSuchElementException:
        transmision.append('-')    

    try:
        fuel_=driver.find_element_by_xpath("//div[@class='aOxkz']/div/div")
        fuel.append(fuel_.text)
    except NoSuchElementException:    
        fuel.append('-')    
        
    try:
        kilometer_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div")
        kilometer.append(kilometer_.text)
    except NoSuchElementException:
        kilometer.append('-')
        
    try:
        variant_=driver.find_element_by_xpath("//div[@class='_3tLee']")
        variant.append(variant_.text)
    except NoSuchElementException:
        variant.append('-')    
     
    try:
        price_=driver.find_element_by_xpath("//div[@class='_3FkyT']")
        price.append(price_.text)
    except NoSuchElementException:
        price.append('-')    
        
        
Car_S= pd.DataFrame()
Car_S['Model']=model
Car_S['Variant']=variant
Car_S['Location']=locatioAn
Car_S['Fuel Type']=fuel
Car_S['Transmission']=transmision
Car_S['Kilometer']=kilometer
Car_S['Owner']=owner
Car_S['Price']=price
Car_S

,Model,Variant,Location,Fuel Type,Transmission,Kilometer,Owner,Price
0,Maruti Suzuki Swift (2006),2004-2010 ZXi BSIV,"Location\nPaliwal Chowk, Surat",CNG & HYBRIDS,MANUAL,"60,000 KM",Owner\n2nd,"₹ 1,70,000"
1,Ford Figo (2010),2010-2012 Diesel ZXI,"Location\nNew Panchsheel Nagar, Surat",DIESEL,MANUAL,"80,000 KM",Owner\n3rd,"₹ 1,20,000"
2,Maruti Suzuki Swift (2016),VDI,"Location\nDindoli, Surat",DIESEL,MANUAL,"92,400 KM",Owner\n1st,"₹ 5,10,000"
3,Maruti Suzuki Swift (2019),AMT ZDI Plus,"Location\nDindoli Ambika Park, Surat",DIESEL,AUTOMATIC,"70,000 KM",Owner\n1st,"₹ 7,00,000"
4,Mg Hector (2020),Hybrid Sharp MT,"Location\nDindoli, Surat",PETROL,MANUAL,"3,400 KM",Owner\n1st,"₹ 15,50,000"
...,...,...,...,...,...,...,...,...
647,-,-,-,-,-,-,-,-
648,Honda Amaze (2016),S i-VTEC,"Location\nNahar Colony, Surat",PETROL,MANUAL,56500.0 KM,Owner\n1st,"₹ 5,75,000"
649,Audi A6 (2009),2009-2011 2.7 TDI,"Location\nRundh, Surat",DIESEL,AUTOMATIC,110370.0 KM,Owner\n1st,"₹ 9,49,000"
650,Honda Amaze (2015),S i-DTEC,"Location\nNahar Colony, Surat",DIESEL,MANUAL,64500.0 KM,Owner\n1st,"₹ 4,50,000"
651,Maruti Suzuki Swift (2014),LXI,"Location\nPal Patia Village, Surat",CNG & HYBRIDS,MANUAL,62221.0 KM,Owner\n1st,"₹ 4,00,000"

In [306]:
back_btn=driver.find_element_by_xpath("//ol[@class='rui-10Yqz']/li[3]/a")
back_btn.click()

In [307]:
search=driver.find_element_by_xpath("//input[@class='_2xvhw']")
search.send_keys("Chennai")

In [308]:
search_enter=driver.find_element_by_xpath("//div[@class='_2HzJo']/div")
search_enter.click()

In [321]:
button=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
button.click()

In [322]:
link8=[]
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']//li/a"):
    link8.append(i.get_attribute("href"))

In [323]:
len(link8)

516

In [325]:
model=[]
owner=[]
transmision=[]
fuel=[]
kilometer=[]
variant=[]
location=[]
price=[]

for i in link8:
    driver.get(i)
    
    try:
        model_=driver.find_element_by_xpath("//div[@class='_35xN1']")
        model.append(model_.text)
    except NoSuchElementException:
        model.append('-')
        
    try:
        location_=driver.find_element_by_xpath("//div[@class='_1l939']/div[2]/div[2]")
        location.append(location_.text)
    except NoSuchElementException:
        location.append('-')
        
        
    try:
        owner_=driver.find_element_by_xpath("//div[@class='_1l939']/div/div[2]")
        owner.append(owner_.text)
    except NoSuchElementException:    
        owner.append('-')
        
    try:
        trans_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div")
        transmision.append(trans_.text)
    except NoSuchElementException:
        transmision.append('-')    

    try:
        fuel_=driver.find_element_by_xpath("//div[@class='aOxkz']/div/div")
        fuel.append(fuel_.text)
    except NoSuchElementException:    
        fuel.append('-')    
        
    try:
        kilometer_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div")
        kilometer.append(kilometer_.text)
    except NoSuchElementException:
        kilometer.append('-')
        
    try:
        variant_=driver.find_element_by_xpath("//div[@class='_3tLee']")
        variant.append(variant_.text)
    except NoSuchElementException:
        variant.append('-')    
     
    try:
        price_=driver.find_element_by_xpath("//div[@class='_3FkyT']")
        price.append(price_.text)
    except NoSuchElementException:
        price.append('-')

NameError: name 'locatioan' is not defined

In [326]:
Car_C= pd.DataFrame()
Car_C['Model']=model
Car_C['Variant']=variant
Car_C['Location']=location
Car_C['Fuel Type']=fuel
Car_C['Transmission']=transmision
Car_C['Kilometer']=kilometer
Car_C['Owner']=owner
Car_C['Price']=price
Car_C

,Model,Variant,Location,Fuel Type,Transmission,Kilometer,Owner,Price
0,Hyundai Fluidic Verna (2015),1.6 CRDi SX,"Location\nNungambakkam, Chennai",DIESEL,MANUAL,60000.0 KM,Owner\n2nd,"₹ 6,90,000"
1,Bmw X6 (2017),xDrive 40d M Sport,"Location\nMount Road, Chennai",DIESEL,AUTOMATIC,70000.0 KM,Owner\n2nd,"₹ 59,00,000"
2,Honda Jazz (2019),VX CVT,"Location\nChennai Central, Chennai",PETROL,AUTOMATIC,12000.0 KM,Owner\n1st,"₹ 8,25,000"
3,Maruti Suzuki Alto (2004),2000-2005 LXI,"Location\nNungambakkam Seetha Nagar, Chennai",PETROL,MANUAL,79201 KM,Owner\nSecond,"₹ 1,40,000"
4,Mitsubishi Montero (2008),2007-2012 3.2 GLS,"Location\nChennai Central, Chennai",DIESEL,MANUAL,70542 KM,Owner\nSecond,"₹ 4,55,000"
...,...,...,...,...,...,...,...,...
511,-,-,-,-,-,-,-,-
512,Hyundai Elite I20 (2017),Asta 1.2,"Location\nKottivakkam Lakshman Nagar, Chennai",PETROL,MANUAL,17934 KM,Owner\nFirst,"₹ 6,75,000"
513,Hyundai I20 (2009),2009-2011 Asta,"Location\nMangadu, Chennai",PETROL,MANUAL,100292 KM,Owner\nSecond,"₹ 2,59,000"
514,Ford Ecosport (2018),1.5 Petrol Titanium,"Location\nPallikaranai Sai Balaji Nagar, Chennai",PETROL,MANUAL,9693 KM,Owner\nFirst,"₹ 9,87,500"
515,Ford Ecosport (2013),2013-2015 1.5 DV5 MT Titanium Optional,"Location\nUrapakkam, Chennai",DIESEL,MANUAL,81063 KM,Owner\nSecond,"₹ 5,25,000"

In [386]:
search=driver.find_element_by_xpath("//input[@class='_2xvhw']")
search.send_keys("Mumbai")

In [387]:
search_enter=driver.find_element_by_xpath("//div[@class='_2HzJo']/div")
search_enter.click()

In [403]:
button=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
button.click()

In [404]:
link9=[]
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']//li/a"):
    link9.append(i.get_attribute("href"))

In [405]:
len(link9)

561

In [406]:
model=[]
owner=[]
transmision=[]
fuel=[]
kilometer=[]
variant=[]
location=[]
price=[]

for i in link9:
    driver.get(i)
    
    try:
        model_=driver.find_element_by_xpath("//div[@class='_35xN1']")
        model.append(model_.text)
    except NoSuchElementException:
        model.append('-')
        
    try:
        location_=driver.find_element_by_xpath("//div[@class='_1l939']/div[2]/div[2]")
        location.append(location_.text)
    except NoSuchElementException:
        location.append('-')
        
        
    try:
        owner_=driver.find_element_by_xpath("//div[@class='_1l939']/div/div[2]")
        owner.append(owner_.text)
    except NoSuchElementException:    
        owner.append('-')
        
    try:
        trans_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div")
        transmision.append(trans_.text)
    except NoSuchElementException:
        transmision.append('-')    

    try:
        fuel_=driver.find_element_by_xpath("//div[@class='aOxkz']/div/div")
        fuel.append(fuel_.text)
    except NoSuchElementException:    
        fuel.append('-')    
        
    try:
        kilometer_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div")
        kilometer.append(kilometer_.text)
    except NoSuchElementException:
        kilometer.append('-')
        
    try:
        variant_=driver.find_element_by_xpath("//div[@class='_3tLee']")
        variant.append(variant_.text)
    except NoSuchElementException:
        variant.append('-')    
     
    try:
        price_=driver.find_element_by_xpath("//div[@class='_3FkyT']")
        price.append(price_.text)
    except NoSuchElementException:
        price.append('-')    
        
        
Car_M= pd.DataFrame()
Car_M['Model']=model
Car_M['Variant']=variant
Car_M['Location']=location
Car_M['Fuel Type']=fuel
Car_M['Transmission']=transmision
Car_M['Kilometer']=kilometer
Car_M['Owner']=owner
Car_M['Price']=price
Car_M

,Model,Variant,Location,Fuel Type,Transmission,Kilometer,Owner,Price
0,Mercedes-Benz Gl-Class (2013),Grand Edition Executive,"Location\nSantacruz West, Mumbai",DIESEL,AUTOMATIC,59635.0 KM,Owner\n1st,"₹ 37,00,000"
1,Bmw 3 Series (2016),320d Sport,"Location\nBandra West, Mumbai",DIESEL,AUTOMATIC,39400.0 KM,Owner\n1st,"₹ 20,90,000"
2,Honda Jazz (2015),,"Location\nBaba Saheb Ambedkar Chowk, Mumbai",PETROL,MANUAL,67609.0 KM,Owner\n--,"₹ 5,35,000"
3,Maruti Suzuki Swift (2009),2004-2010 VDI BSIV,"Location\nViraj Society, Mumbai",DIESEL,MANUAL,120000 KM,Owner\nFirst,"₹ 2,35,000"
4,Maruti Suzuki Wagon R (2016),CNG LXI Opt,"Location\nBaba Saheb Ambedkar Chowk, Mumbai",PETROL,MANUAL,120000 KM,Owner\nSecond,"₹ 2,55,000"
...,...,...,...,...,...,...,...,...
556,Toyota Corolla Altis (2008),Altis 1.8 J,"Location\nBorivali West, Mumbai",PETROL,MANUAL,120000 KM,Owner\nFirst,"₹ 3,50,000"
557,Tata Bolt (2016),Quadrajet XM,"Location\nMalad West, Mumbai",DIESEL,MANUAL,70000 KM,Owner\nFirst,"₹ 2,10,000"
558,Toyota Etios (2017),1.4 GD,"Location\nKopar Khairane, Navi Mumbai",DIESEL,MANUAL,160000 KM,Owner\nSecond,"₹ 4,50,000"
559,Toyota Qualis (2000),FS B4,"Location\nUshma Nagar, Mumbai",DIESEL,MANUAL,90000 KM,Owner\nSecond,"₹ 1,85,000"
560,Hyundai Xcent (2017),1.2 VTVT E,"Location\nVivekanand Nagar, Mumbai",CNG,MANUAL,180000 KM,Owner\nFirst,"₹ 3,30,000"

In [408]:
back_btn=driver.find_element_by_xpath("//ol[@class='rui-10Yqz']/li[3]/a")
back_btn.click()

In [409]:
search=driver.find_element_by_xpath("//input[@class='_2xvhw']")
search.send_keys("Jaipur")

In [410]:
search_enter=driver.find_element_by_xpath("//div[@class='_2HzJo']/div")
search_enter.click()

In [421]:
button=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
button.click()

In [422]:
link10=[]
for i in driver.find_elements_by_xpath("//ul[@class='rl3f9 _3mXOU']//li/a"):
    link10.append(i.get_attribute("href"))

In [423]:
len(link10)

480

In [424]:
model=[]
owner=[]
transmision=[]
fuel=[]
kilometer=[]
variant=[]
location=[]
price=[]

for i in link10:
    driver.get(i)
    
    try:
        model_=driver.find_element_by_xpath("//div[@class='_35xN1']")
        model.append(model_.text)
    except NoSuchElementException:
        model.append('-')
        
    try:
        location_=driver.find_element_by_xpath("//div[@class='_1l939']/div[2]/div[2]")
        location.append(location_.text)
    except NoSuchElementException:
        location.append('-')
        
        
    try:
        owner_=driver.find_element_by_xpath("//div[@class='_1l939']/div/div[2]")
        owner.append(owner_.text)
    except NoSuchElementException:    
        owner.append('-')
        
    try:
        trans_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[3]/div")
        transmision.append(trans_.text)
    except NoSuchElementException:
        transmision.append('-')    

    try:
        fuel_=driver.find_element_by_xpath("//div[@class='aOxkz']/div/div")
        fuel.append(fuel_.text)
    except NoSuchElementException:    
        fuel.append('-')    
        
    try:
        kilometer_=driver.find_element_by_xpath("//div[@class='aOxkz']/div[2]/div")
        kilometer.append(kilometer_.text)
    except NoSuchElementException:
        kilometer.append('-')
        
    try:
        variant_=driver.find_element_by_xpath("//div[@class='_3tLee']")
        variant.append(variant_.text)
    except NoSuchElementException:
        variant.append('-')    
     
    try:
        price_=driver.find_element_by_xpath("//div[@class='_3FkyT']")
        price.append(price_.text)
    except NoSuchElementException:
        price.append('-')    
        
        
Car_J= pd.DataFrame()
Car_J['Model']=model
Car_J['Variant']=variant
Car_J['Location']=location
Car_J['Fuel Type']=fuel
Car_J['Transmission']=transmision
Car_J['Kilometer']=kilometer
Car_J['Owner']=owner
Car_J['Price']=price
Car_J

,Model,Variant,Location,Fuel Type,Transmission,Kilometer,Owner,Price
0,-,-,-,-,-,-,-,-
1,Tata Safari Storme (2015),VX,"Location\nEverest Vihar, Jaipur",DIESEL,MANUAL,70000.0 KM,Owner\n1st,"₹ 6,50,000"
2,Hyundai Santro (2009),GLS II - Euro II,"Location\nJaman Nagar, Jaipur",PETROL,MANUAL,91000.0 KM,Owner\n1st,"₹ 1,85,000"
3,Tata Nano (2011),2009-2011 Cx,"Location\nPatrakar Colony, Jaipur",PETROL,MANUAL,27675 KM,Owner\nSecond,"₹ 60,000"
4,Maruti Suzuki Alto K10 (2018),LX,"Location\nMalviya Nagar, Jaipur",PETROL,MANUAL,"75,000 KM",Owner\n1st,"₹ 3,80,000"
...,...,...,...,...,...,...,...,...
475,Hyundai Santro (2010),GLS II - Euro II,"Location\nEverest Vihar, Jaipur",PETROL,MANUAL,66000.0 KM,Owner\n1st,"₹ 1,95,000"
476,Tata Safari Storme (2013),EX,"Location\nEverest Vihar, Jaipur",DIESEL,MANUAL,136000.0 KM,Owner\n1st,"₹ 5,50,000"
477,Hyundai Creta (2015),1.6 CRDi SX,"Location\nRaja Park, Jaipur",DIESEL,MANUAL,78000.0 KM,Owner\n1st,"₹ 11,00,000"
478,-,-,-,-,-,-,-,-
479,Mercedes-Benz Gls (2018),,"Location\nCivil Lines, Jaipur",DIESEL,AUTOMATIC,15000.0 KM,Owner\n1st,"₹ 75,00,000"

In [425]:
len(link1)+len(link2)+len(link3)+len(link4)+len(link5)+len(link6)+len(link7)+len(link8)+len(link9)+len(link10)

5364

In [426]:
frames = [Car513, Car_D, Car_B, Car_I, Car_Ko, Car_Go, Car_S, Car_C, Car_M, Car_J]

In [427]:
Used_Cars = pd.concat(frames)

In [430]:
Used_Cars.reset_index(inplace = True, drop=True)
Used_Cars

,Model,Variant,Location,Fuel Type,Transmission,Kilometer,Owner,Price
0,Volkswagen Vento (2012),1.6 Highline,"Location\nRailway Station Square, Aluva",PETROL,MANUAL,79000.0 KM,Owner\n1st,"₹ 3,65,000"
1,Honda Mobilio (2014),S i-DTEC,"Location\nEdapally, Kochi",DIESEL,MANUAL,"130,000 KM",Owner\n1st,"₹ 3,75,000"
2,Maruti Suzuki Swift (2020),VXI,"Location\nAyathil, Kollam",PETROL,MANUAL,10000.0 KM,Owner\n1st,"₹ 6,45,000"
3,Toyota Etios Liva (2011),Etios Liva G SP*,"Location\nNedumbassery, Kochi",PETROL,MANUAL,50000 KM,Owner\nSecond,"₹ 3,55,000"
4,Maruti Suzuki Ritz (2009),2009-2011 VXI,"Location\nThammanam, Kochi",PETROL,MANUAL,90000 KM,Owner\nFirst,"₹ 2,60,000"
...,...,...,...,...,...,...,...,...
5360,Hyundai Santro (2010),GLS II - Euro II,"Location\nEverest Vihar, Jaipur",PETROL,MANUAL,66000.0 KM,Owner\n1st,"₹ 1,95,000"
5361,Tata Safari Storme (2013),EX,"Location\nEverest Vihar, Jaipur",DIESEL,MANUAL,136000.0 KM,Owner\n1st,"₹ 5,50,000"
5362,Hyundai Creta (2015),1.6 CRDi SX,"Location\nRaja Park, Jaipur",DIESEL,MANUAL,78000.0 KM,Owner\n1st,"₹ 11,00,000"
5363,-,-,-,-,-,-,-,-
5364,Mercedes-Benz Gls (2018),,"Location\nCivil Lines, Jaipur",DIESEL,AUTOMATIC,15000.0 KM,Owner\n1st,"₹ 75,00,000"

In [431]:
Used_Cars.to_csv('Used_Cars_Dataset')

In [5]:
Used_Cars_Dataset= pd.read_csv('Used_Cars_Dataset')
Used_Cars_Dataset.to_excel(r'C:\Users\Harshil Goradia\OneDrive\Desktop\Car Project\Cardataset.xlsx')