In [1]:
import csv
import sys
from datetime import date
import pandas as pd
import selenium.webdriver
import numpy as np
from bs4 import BeautifulSoup
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from dateutil.relativedelta import relativedelta

In [6]:
#for exception
import linecache
import sys

def PrintException():
    exc_type, exc_obj, tb = sys.exc_info()
    f = tb.tb_frame
    lineno = tb.tb_lineno
    filename = f.f_code.co_filename
    linecache.checkcache(filename)
    line = linecache.getline(filename, lineno, f.f_globals)
    print('EXCEPTION IN ({}, LINE {} "{}"): {}'.format(filename, lineno, line.strip(), exc_obj))

In [7]:
def scrap(origin,destin,trDate):
    global none
  
    baseDataUrl = "https://www.makemytrip.com/flight/search?itinerary="+ origin +"-"+ destin +"-"+ trDate +"&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E"

    try:
        driver = selenium.webdriver.Chrome('chromedriver.exe') # Chrome driver is being used.
        print ("Requesting URL: " + baseDataUrl)

        driver.get(baseDataUrl)  			 # URL requested in browser.
        
        element_xpath = '//*[@id="left-side--wrapper"]/div[2]' # First box with relevant flight data.

        # Wait until the first box with relevant flight data appears on Screen
        element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))

        # Scroll the page till bottom to get full data available in the DOM.
        print ("Scrolling document upto bottom ...")
        for j in range(1, 100):
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        # Find the document body and get its inner HTML for processing in BeautifulSoup parser.
        body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

        print("Closing Chrome ...") # No more usage needed.
        driver.quit() 				# Browser Closed.

        print("Getting data from DOM ...")
        soupBody = BeautifulSoup(body) # Parse the inner HTML using BeautifulSoup
        
        # Extract the required tags 
        spanFlightName = soupBody.find_all("span", 'boldFont blackText airlineName')		# Tags with Flight Name
        print("spanFlightName  = " + str(len(spanFlightName)))

        Time = soupBody.find_all("p", {"class":"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})			# Tags with Departure Time
        print("Time Count in Scraping  = " + str(len(Time)))

        City = soupBody.findAll("p", {"class": "darkText"})				# Tags with Departure City
        print("City Count in Scraping  = " + str(len(City)))

        spanFlightCost = soupBody.findAll("p", {"class": "blackText fontSize18 blackFont white-space-no-wrap"})			# Tags with Flight Cost
        print("spanFlightCost Count in Scraping  = " + str(len(spanFlightCost)))

        pFlightStops = soupBody.findAll("p", {"class": "flightsLayoverInfo"})			# Tags with flight stops
        print("pFlightStops Count in Scraping  = " + str(len(pFlightStops)))
        
        transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops)



   
    except :
        PrintException()
        print(trDate," scraping complete")
        
        none =True

In [8]:
dates=(pd.date_range(start='30/10/2021', end='12/11/2021')) #dates 

New_date=[]
for i,date in enumerate(dates):
    day=str(date.day).zfill(2)   # 1 --->01,2--->02 conversion
    month=str(date.month).zfill(2)
    year=str(date.year)
    
    date=day+'/'+month+'/'+year  #formating date
    New_date.append(date)
print(New_date)

['30/10/2021', '31/10/2021', '01/11/2021', '02/11/2021', '03/11/2021', '04/11/2021', '05/11/2021', '06/11/2021', '07/11/2021', '08/11/2021', '09/11/2021', '10/11/2021', '11/11/2021', '12/11/2021', '13/11/2021', '14/11/2021', '15/11/2021', '16/11/2021', '17/11/2021', '18/11/2021', '19/11/2021', '20/11/2021', '21/11/2021', '22/11/2021', '23/11/2021', '24/11/2021', '25/11/2021', '26/11/2021', '27/11/2021', '28/11/2021', '29/11/2021', '30/11/2021', '01/12/2021', '02/12/2021', '03/12/2021', '04/12/2021', '05/12/2021', '06/12/2021', '07/12/2021', '08/12/2021', '09/12/2021', '10/12/2021', '11/12/2021']

In [9]:
# various list container
Airline=[]
Journey_date=[]
From=[]
To=[]
Price=[]
Dtime=[]
Atime=[]
Stops=[]

flight_data = pd.DataFrame(np.nan, index=[0], columns=['Airline', 'Journey_date','From','To','Dtime','Atime','Stops','Price'])
flight_data.to_csv('Flight.csv')
#transforming scraped data 
def transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops):
    
    Airline.clear()
    Journey_date.clear()
    Price.clear()
    Stops.clear()
    From.clear()
    Dtime.clear()
    To.clear()
    Atime.clear()
    
    global flight_data
    print("Transaform Function Running.... ")
    for i in range(0,len(spanFlightName)):
        
        Airline.append(spanFlightName[i].string)
        Journey_date.append(trDate)
        Price.append(spanFlightCost[i].string)
        Stops.append(pFlightStops[i].string)
        
      
    for j in range(0,len(Time)):
        
        if(j%2==0):
            
            From.append(City[j].string)
            Dtime.append(Time[j].string)
        else:
            
            To.append(City[j].string)
            Atime.append(Time[j].string) 

            
            
    temp = {'Airline':Airline,
            'Journey_date':Journey_date,
            'From':From,
            'To':To,
            'Dtime':Dtime,
            'Atime':Atime,
            'Stops':Stops,
            'Price':Price}
    df=pd.DataFrame(temp)
    
    df.to_csv('Flight.csv', mode='a', header=False)
        
    flight_data = pd.concat([flight_data,df])
    flight_data=flight_data.reset_index(drop=True)
    display(flight_data)
    print('Lenght : ',len(flight_data))

In [ ]:
## applying various state combination and extrating  1 month flight data

list_of_state=['RPR','GOI','AMD','IXC','IXR','IXW','VTZ','TIR','KUU','BLR','COK','IDR','PNQ','BOM','DEL','IMF','SHL','AJL','DMU','BBI','LUH','JAI','MAA','LKU','VNS','DED','CCU']
# 
for i in range(0,len(list_of_state)):
    orgin=list_of_state[i]
    for_to=list_of_state
    
    
    
    print("--------------")
    for j in range(0,len(for_to)):
        destin=for_to[j]
        none = False
        print("origin = "+orgin)
        print("destin = "+destin+'\n')
        
        if orgin!=destin:
            for i,date in enumerate(New_date) :
                if none !=True:
                    scrap(orgin,destin,date)
                    print(" ")
                else:
                    break
                
        else: 
            
            print( "-----Skiped-----")
            print(" ")

--------------
origin = RPR
destin = RPR

-----Skiped-----

origin = RPR
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
5,Air India,30/10/2021,Raipur,Goa,12:30,20:30,"2 stop via Visakhapatnam,Mumbai","₹ 8,964"
6,IndiGo,30/10/2021,Raipur,Goa,10:00,15:30,1 stop via Pune,"₹ 10,812"
7,Vistara,30/10/2021,Raipur,Goa,08:55,19:50,1 stop via New Delhi,"₹ 10,863"
8,Air India,30/10/2021,Raipur,Goa,18:55,10:15,"3 stop via New Delhi,Hyderabad,Mysore","₹ 11,917"
9,IndiGo,30/10/2021,Raipur,Goa,09:10,15:50,1 stop via Bengaluru,"₹ 12,072"
10,Air India,30/10/2021,Raipur,Goa,14:25,06:50,"3 stop via Jagdalpur,Hyderabad,Mumbai","₹ 12,481"
11,Vistara,30/10/2021,Raipur,Goa,20:20,14:55,"2 stop via New Delhi,Mumbai","₹ 13,498"
12,Vistara,30/10/2021,Raipur,Goa,20:20,14:55,"2 stop via New Delhi,Mumbai","₹ 13,498"
13,Vistara,30/10/2021,Raipur,Goa,20:20,14:55,"2 stop via New Delhi,Mumbai","₹ 13,498"
14,Vistara,30/10/2021,Raipur,Goa,20:20,12:45,"2 stop via New Delhi,Mumbai","₹ 13,551"
15,Vistara,30/10/2021,Raipur,Goa,07:50,14:40,"2 stop via Kolkata,Mumbai","₹ 16,659"
16,Air India,30/10/2021,Raipur,Goa,07:45,20:30,"4 stop via Nagpur,New Delhi,Indore,Mumbai","₹ 20,304"
17,Air India,30/10/2021,Raipur,Goa,07:45,14:40,"2 stop via Nagpur,New Delhi","₹ 26,551"

Lenght :  18

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
5,Air India,30/10/2021,Raipur,Goa,12:30,20:30,"2 stop via Visakhapatnam,Mumbai","₹ 8,964"
6,IndiGo,30/10/2021,Raipur,Goa,10:00,15:30,1 stop via Pune,"₹ 10,812"
7,Vistara,30/10/2021,Raipur,Goa,08:55,19:50,1 stop via New Delhi,"₹ 10,863"
8,Air India,30/10/2021,Raipur,Goa,18:55,10:15,"3 stop via New Delhi,Hyderabad,Mysore","₹ 11,917"
9,IndiGo,30/10/2021,Raipur,Goa,09:10,15:50,1 stop via Bengaluru,"₹ 12,072"
10,Air India,30/10/2021,Raipur,Goa,14:25,06:50,"3 stop via Jagdalpur,Hyderabad,Mumbai","₹ 12,481"
11,Vistara,30/10/2021,Raipur,Goa,20:20,14:55,"2 stop via New Delhi,Mumbai","₹ 13,498"
12,Vistara,30/10/2021,Raipur,Goa,20:20,14:55,"2 stop via New Delhi,Mumbai","₹ 13,498"
13,Vistara,30/10/2021,Raipur,Goa,20:20,14:55,"2 stop via New Delhi,Mumbai","₹ 13,498"
14,Vistara,30/10/2021,Raipur,Goa,20:20,12:45,"2 stop via New Delhi,Mumbai","₹ 13,551"
15,Vistara,30/10/2021,Raipur,Goa,07:50,14:40,"2 stop via Kolkata,Mumbai","₹ 16,659"
16,Air India,30/10/2021,Raipur,Goa,07:45,20:30,"4 stop via Nagpur,New Delhi,Indore,Mumbai","₹ 20,304"
17,Air India,30/10/2021,Raipur,Goa,07:45,14:40,"2 stop via Nagpur,New Delhi","₹ 26,551"
18,IndiGo,31/10/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 7,704"
19,IndiGo,31/10/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 7,704"
20,IndiGo,31/10/2021,Raipur,Goa,08:40,15:15,1 stop via Mumbai,"₹ 7,704"
21,IndiGo,31/10/2021,Raipur,Goa,09:45,15:35,1 stop via Bengaluru,"₹ 7,704"
22,IndiGo,31/10/2021,Raipur,Goa,10:00,17:25,1 stop via Hyderabad,"₹ 7,704"
23,IndiGo,31/10/2021,Raipur,Goa,08:40,18:00,1 stop via Mumbai,"₹ 7,704"
24,IndiGo,31/10/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 7,704"
25,IndiGo,31/10/2021,Raipur,Goa,09:15,18:20,1 stop via New Delhi,"₹ 7,704"
26,IndiGo,31/10/2021,Raipur,Goa,09:45,18:25,1 stop via Bengaluru,"₹ 7,704"
27,IndiGo,31/10/2021,Raipur,Goa,15:35,20:50,1 stop via Hyderabad,"₹ 7,704"
28,IndiGo,31/10/2021,Raipur,Goa,11:30,21:30,1 stop via New Delhi,"₹ 7,704"
29,IndiGo,31/10/2021,Raipur,Goa,09:15,21:30,1 stop via New Delhi,"₹ 7,704"
30,IndiGo,31/10/2021,Raipur,Goa,20:35,07:05,1 stop via Hyderabad,"₹ 7,704"
31,Air India,31/10/2021,Raipur,Goa,12:30,20:30,"2 stop via Visakhapatnam,Mumbai","₹ 8,596"
32,IndiGo,31/10/2021,Raipur,Goa,09:05,14:35,1 stop via Kolkata,"₹ 8,859"
33,Vistara,31/10/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 11,488"

Lenght :  34

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-01/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
5,Air India,30/10/2021,Raipur,Goa,12:30,20:30,"2 stop via Visakhapatnam,Mumbai","₹ 8,964"
6,IndiGo,30/10/2021,Raipur,Goa,10:00,15:30,1 stop via Pune,"₹ 10,812"
7,Vistara,30/10/2021,Raipur,Goa,08:55,19:50,1 stop via New Delhi,"₹ 10,863"
8,Air India,30/10/2021,Raipur,Goa,18:55,10:15,"3 stop via New Delhi,Hyderabad,Mysore","₹ 11,917"
9,IndiGo,30/10/2021,Raipur,Goa,09:10,15:50,1 stop via Bengaluru,"₹ 12,072"
10,Air India,30/10/2021,Raipur,Goa,14:25,06:50,"3 stop via Jagdalpur,Hyderabad,Mumbai","₹ 12,481"
11,Vistara,30/10/2021,Raipur,Goa,20:20,14:55,"2 stop via New Delhi,Mumbai","₹ 13,498"
12,Vistara,30/10/2021,Raipur,Goa,20:20,14:55,"2 stop via New Delhi,Mumbai","₹ 13,498"
13,Vistara,30/10/2021,Raipur,Goa,20:20,14:55,"2 stop via New Delhi,Mumbai","₹ 13,498"
14,Vistara,30/10/2021,Raipur,Goa,20:20,12:45,"2 stop via New Delhi,Mumbai","₹ 13,551"
15,Vistara,30/10/2021,Raipur,Goa,07:50,14:40,"2 stop via Kolkata,Mumbai","₹ 16,659"
16,Air India,30/10/2021,Raipur,Goa,07:45,20:30,"4 stop via Nagpur,New Delhi,Indore,Mumbai","₹ 20,304"
17,Air India,30/10/2021,Raipur,Goa,07:45,14:40,"2 stop via Nagpur,New Delhi","₹ 26,551"
18,IndiGo,31/10/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 7,704"
19,IndiGo,31/10/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 7,704"
20,IndiGo,31/10/2021,Raipur,Goa,08:40,15:15,1 stop via Mumbai,"₹ 7,704"
21,IndiGo,31/10/2021,Raipur,Goa,09:45,15:35,1 stop via Bengaluru,"₹ 7,704"
22,IndiGo,31/10/2021,Raipur,Goa,10:00,17:25,1 stop via Hyderabad,"₹ 7,704"
23,IndiGo,31/10/2021,Raipur,Goa,08:40,18:00,1 stop via Mumbai,"₹ 7,704"
24,IndiGo,31/10/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 7,704"
25,IndiGo,31/10/2021,Raipur,Goa,09:15,18:20,1 stop via New Delhi,"₹ 7,704"
26,IndiGo,31/10/2021,Raipur,Goa,09:45,18:25,1 stop via Bengaluru,"₹ 7,704"
27,IndiGo,31/10/2021,Raipur,Goa,15:35,20:50,1 stop via Hyderabad,"₹ 7,704"
28,IndiGo,31/10/2021,Raipur,Goa,11:30,21:30,1 stop via New Delhi,"₹ 7,704"
29,IndiGo,31/10/2021,Raipur,Goa,09:15,21:30,1 stop via New Delhi,"₹ 7,704"
30,IndiGo,31/10/2021,Raipur,Goa,20:35,07:05,1 stop via Hyderabad,"₹ 7,704"
31,Air India,31/10/2021,Raipur,Goa,12:30,20:30,"2 stop via Visakhapatnam,Mumbai","₹ 8,596"
32,IndiGo,31/10/2021,Raipur,Goa,09:05,14:35,1 stop via Kolkata,"₹ 8,859"
33,Vistara,31/10/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 11,488"
34,IndiGo,01/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 7,257"
35,IndiGo,01/11/2021,Raipur,Goa,09:45,18:25,1 stop via Bengaluru,"₹ 7,651"
36,IndiGo,01/11/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 7,704"
37,IndiGo,01/11/2021,Raipur,Goa,08:40,15:15,1 stop via Mumbai,"₹ 7,704"
38,IndiGo,01/11/2021,Raipur,Goa,09:45,15:35,1 stop via Bengaluru,"₹ 7,704"
39,IndiGo,01/11/2021,Raipur,Goa,10:00,17:25,1 stop via Hyderabad,"₹ 7,704"
40,IndiGo,01/11/2021,Raipur,Goa,08:40,18:00,1 stop via Mumbai,"₹ 7,704"
41,IndiGo,01/11/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 7,704"
42,IndiGo,01/11/2021,Raipur,Goa,09:15,18:20,1 stop via New Delhi,"₹ 7,704"
43,IndiGo,01/11/2021,Raipur,Goa,15:35,20:50,1 stop via Hyderabad,"₹ 7,704"
44,IndiGo,01/11/2021,Raipur,Goa,11:30,21:30,1 stop via New Delhi,"₹ 7,704"
45,IndiGo,01/11/2021,Raipur,Goa,09:15,21:30,1 stop via New Delhi,"₹ 7,704"
46,IndiGo,01/11/2021,Raipur,Goa,20:35,07:05,1 stop via Hyderabad,"₹ 7,704"
47,IndiGo,01/11/2021,Raipur,Goa,09:05,14:35,1 stop via Kolkata,"₹ 8,859"
48,Air India,01/11/2021,Raipur,Goa,12:30,20:30,"2 stop via Visakhapatnam,Mumbai","₹ 9,384"
49,Vistara,01/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 10,863"
50,Air India,01/11/2021,Raipur,Goa,07:45,06:50,"4 stop via Nagpur,New Delhi,Indore,Mumbai","₹ 11,917"
51,Air India,01/11/2021,Raipur,Goa,07:45,06:50,"3 stop via Nagpur,New Delhi,Mumbai","₹ 11,917"
52,Air India,01/11/2021,Raipur,Goa,18:50,14:45,"2 stop via New Delhi,Mumbai","₹ 11,917"
53,Air India,01/11/2021,Raipur,Goa,18:50,14:45,"2 stop via New Delhi,Mumbai","₹ 11,917"
54,Air India,01/11/2021,Raipur,Goa,07:45,20:30,"4 stop via Nagpur,New Delhi,Indore,Mumbai","₹ 12,705"
55,Vistara,01/11/2021,Raipur,Goa,20:20,12:45,"2 stop via New Delhi,Mumbai","₹ 13,498"
56,Vistara,01/11/2021,Raipur,Goa,20:20,12:45,"2 stop via New Delhi,Mumbai","₹ 13,498"

Lenght :  57

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-02/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
63,IndiGo,02/11/2021,Raipur,Goa,15:35,20:50,1 stop via Hyderabad,"₹ 7,704"
64,IndiGo,02/11/2021,Raipur,Goa,20:35,07:05,1 stop via Hyderabad,"₹ 7,704"
65,IndiGo,02/11/2021,Raipur,Goa,09:05,14:35,1 stop via Kolkata,"₹ 8,859"
66,Air India,02/11/2021,Raipur,Goa,12:30,20:30,"2 stop via Visakhapatnam,Mumbai","₹ 13,164"
67,Vistara,02/11/2021,Raipur,Goa,20:20,14:55,"2 stop via New Delhi,Mumbai","₹ 14,858"

Lenght :  68

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-03/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
82,Vistara,03/11/2021,Raipur,Goa,20:20,14:55,"2 stop via New Delhi,Mumbai","₹ 15,331"
83,Vistara,03/11/2021,Raipur,Goa,20:20,14:55,"2 stop via New Delhi,Mumbai","₹ 15,331"
84,Vistara,03/11/2021,Raipur,Goa,20:20,14:55,"2 stop via New Delhi,Mumbai","₹ 15,331"
85,Vistara,03/11/2021,Raipur,Goa,20:20,12:45,"2 stop via New Delhi,Mumbai","₹ 19,846"
86,Vistara,03/11/2021,Raipur,Goa,20:20,12:45,"2 stop via New Delhi,Mumbai","₹ 19,846"

Lenght :  87

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-04/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
101,Air India,04/11/2021,Raipur,Goa,12:30,20:30,"2 stop via Visakhapatnam,Mumbai","₹ 10,644"
102,IndiGo,04/11/2021,Raipur,Goa,09:05,14:35,1 stop via Kolkata,"₹ 10,812"
103,Vistara,04/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 10,863"
104,IndiGo,04/11/2021,Raipur,Goa,20:35,07:05,1 stop via Hyderabad,"₹ 11,484"
105,Air India,04/11/2021,Raipur,Goa,07:45,20:30,"4 stop via Nagpur,New Delhi,Indore,Mumbai","₹ 13,965"

Lenght :  106

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-05/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
110,IndiGo,05/11/2021,Raipur,Goa,09:45,18:25,1 stop via Bengaluru,"₹ 9,720"
111,"Air India, Go First",05/11/2021,Raipur,Goa,14:25,21:00,"2 stop via Jagdalpur,Hyderabad","₹ 10,057"
112,IndiGo,05/11/2021,Raipur,Goa,09:45,15:35,1 stop via Bengaluru,"₹ 10,308"
113,IndiGo,05/11/2021,Raipur,Goa,10:00,17:25,1 stop via Hyderabad,"₹ 10,308"
114,Vistara,05/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 19,359"

Lenght :  115

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-06/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
123,IndiGo,06/11/2021,Raipur,Goa,11:30,21:30,1 stop via New Delhi,"₹ 11,484"
124,IndiGo,06/11/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 13,668"
125,Vistara,06/11/2021,Raipur,Goa,20:20,09:45,1 stop via New Delhi,"₹ 13,675"
126,IndiGo,06/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 14,529"
127,"Vistara, Go First",06/11/2021,Raipur,Goa,08:55,21:00,"2 stop via New Delhi,Hyderabad","₹ 20,451"

Lenght :  128

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-07/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
143,Vistara,07/11/2021,Raipur,Goa,20:20,13:50,"2 stop via New Delhi,Bengaluru","₹ 16,667"
144,Vistara,07/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 18,624"
145,Vistara,07/11/2021,Raipur,Goa,20:20,12:45,"2 stop via New Delhi,Mumbai","₹ 22,815"
146,Vistara,07/11/2021,Raipur,Goa,20:20,12:45,"2 stop via New Delhi,Mumbai","₹ 22,815"
147,"Vistara, IndiGo",07/11/2021,Raipur,Goa,08:55,20:50,"2 stop via New Delhi,Hyderabad","₹ 23,287"

Lenght :  148

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-08/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
155,IndiGo,08/11/2021,Raipur,Goa,09:15,18:20,1 stop via New Delhi,"₹ 8,544"
156,"Air India, AirAsia",08/11/2021,Raipur,Goa,14:25,07:00,"3 stop via Jagdalpur,Hyderabad,Bengaluru","₹ 9,162"
157,"Air India, IndiGo",08/11/2021,Raipur,Goa,14:25,20:50,"2 stop via Jagdalpur,Hyderabad","₹ 9,689"
158,IndiGo,08/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 10,959"
159,Vistara,08/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 13,675"

Lenght :  160

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-09/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
180,Vistara,09/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 11,488"
181,IndiGo,09/11/2021,Raipur,Goa,16:55,00:20,1 stop via New Delhi,"₹ 12,796"
182,IndiGo,09/11/2021,Raipur,Goa,16:55,02:25,1 stop via New Delhi,"₹ 12,796"
183,IndiGo,09/11/2021,Raipur,Goa,08:40,15:15,1 stop via Mumbai,"₹ 14,424"
184,IndiGo,09/11/2021,Raipur,Goa,08:40,18:00,1 stop via Mumbai,"₹ 14,424"

Lenght :  185

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-10/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
196,"Air India, AirAsia",10/11/2021,Raipur,Goa,14:25,07:00,"3 stop via Jagdalpur,Hyderabad,Bengaluru","₹ 9,740"
197,"Air India, IndiGo",10/11/2021,Raipur,Goa,14:25,20:50,"2 stop via Jagdalpur,Hyderabad","₹ 9,952"
198,IndiGo,10/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 10,014"
199,"IndiGo, Go First",10/11/2021,Raipur,Goa,10:00,21:00,1 stop via Hyderabad,"₹ 11,998"
200,Vistara,10/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 12,068"

Lenght :  201

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-11/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
221,IndiGo,11/11/2021,Raipur,Goa,08:40,15:15,1 stop via Mumbai,"₹ 12,639"
222,Vistara,11/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 12,782"
223,IndiGo,11/11/2021,Raipur,Goa,20:35,07:05,1 stop via Hyderabad,"₹ 13,111"
224,IndiGo,11/11/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 13,479"
225,IndiGo,11/11/2021,Raipur,Goa,09:05,14:35,1 stop via Kolkata,"₹ 15,211"

Lenght :  226

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-12/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
250,IndiGo,12/11/2021,Raipur,Goa,11:30,21:30,1 stop via New Delhi,"₹ 14,319"
251,IndiGo,12/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 14,529"
252,IndiGo,12/11/2021,Raipur,Goa,09:15,18:20,1 stop via New Delhi,"₹ 15,306"
253,IndiGo,12/11/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 15,673"
254,IndiGo,12/11/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 16,156"

Lenght :  255

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-13/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
279,IndiGo,13/11/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 14,581"
280,IndiGo,13/11/2021,Raipur,Goa,08:40,15:15,1 stop via Mumbai,"₹ 14,634"
281,IndiGo,13/11/2021,Raipur,Goa,08:40,18:00,1 stop via Mumbai,"₹ 14,739"
282,"Vistara, Go First",13/11/2021,Raipur,Goa,08:55,21:00,"2 stop via New Delhi,Hyderabad","₹ 15,182"
283,IndiGo,13/11/2021,Raipur,Goa,09:05,14:35,1 stop via Kolkata,"₹ 20,671"

Lenght :  284

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-14/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
296,IndiGo,14/11/2021,Raipur,Goa,15:35,20:50,1 stop via Hyderabad,"₹ 10,119"
297,IndiGo,14/11/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 10,696"
298,IndiGo,14/11/2021,Raipur,Goa,09:05,14:35,1 stop via Kolkata,"₹ 10,812"
299,Vistara,14/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 12,068"
300,"Vistara, Go First",14/11/2021,Raipur,Goa,08:55,21:00,"2 stop via New Delhi,Hyderabad","₹ 16,610"

Lenght :  301

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-15/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
322,IndiGo,15/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 9,489"
323,"Air India, IndiGo",15/11/2021,Raipur,Goa,14:25,20:50,"2 stop via Jagdalpur,Hyderabad","₹ 9,689"
324,IndiGo,15/11/2021,Raipur,Goa,15:35,20:50,1 stop via Hyderabad,"₹ 9,804"
325,Vistara,15/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 11,488"
326,"Vistara, Go First",15/11/2021,Raipur,Goa,08:55,21:00,"2 stop via New Delhi,Hyderabad","₹ 14,690"

Lenght :  327

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-16/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
352,IndiGo,16/11/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 13,111"
353,IndiGo,16/11/2021,Raipur,Goa,09:15,18:20,1 stop via New Delhi,"₹ 13,479"
354,"Vistara, Go First",16/11/2021,Raipur,Goa,08:55,21:00,"2 stop via New Delhi,Hyderabad","₹ 14,065"
355,IndiGo,16/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 14,529"
356,IndiGo,16/11/2021,Raipur,Goa,09:05,14:35,1 stop via Kolkata,"₹ 19,716"

Lenght :  357

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-17/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
375,IndiGo,17/11/2021,Raipur,Goa,09:05,14:35,1 stop via Kolkata,"₹ 11,484"
376,IndiGo,17/11/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 11,848"
377,IndiGo,17/11/2021,Raipur,Goa,20:35,07:05,1 stop via Hyderabad,"₹ 12,009"
378,IndiGo,17/11/2021,Raipur,Goa,16:55,00:20,1 stop via New Delhi,"₹ 12,429"
379,IndiGo,17/11/2021,Raipur,Goa,16:55,02:25,1 stop via New Delhi,"₹ 12,429"

Lenght :  380

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-18/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
392,"IndiGo, AirAsia",18/11/2021,Raipur,Goa,10:00,22:00,"2 stop via Hyderabad,Bengaluru","₹ 9,689"
393,IndiGo,18/11/2021,Raipur,Goa,15:35,20:50,1 stop via Hyderabad,"₹ 9,751"
394,"Air India, IndiGo",18/11/2021,Raipur,Goa,14:25,20:50,"2 stop via Jagdalpur,Hyderabad","₹ 10,004"
395,Vistara,18/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 12,782"
396,IndiGo,18/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 13,269"

Lenght :  397

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-19/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
409,Air India,19/11/2021,Raipur,Goa,12:30,20:30,"2 stop via Visakhapatnam,Mumbai","₹ 9,279"
410,IndiGo,19/11/2021,Raipur,Goa,08:40,15:15,1 stop via Mumbai,"₹ 10,224"
411,Vistara,19/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 12,068"
412,Air India,19/11/2021,Raipur,Goa,18:50,00:35,1 stop via New Delhi,"₹ 12,971"
413,IndiGo,19/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 14,529"

Lenght :  414

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-20/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
428,IndiGo,20/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 10,014"
429,IndiGo,20/11/2021,Raipur,Goa,08:40,15:15,1 stop via Mumbai,"₹ 10,591"
430,Vistara,20/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 12,068"
431,Air India,20/11/2021,Raipur,Goa,18:50,00:35,1 stop via New Delhi,"₹ 12,142"
432,IndiGo,20/11/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 13,111"

Lenght :  433

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-21/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
453,Vistara,21/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 10,863"
454,IndiGo,21/11/2021,Raipur,Goa,11:30,21:30,1 stop via New Delhi,"₹ 12,429"
455,IndiGo,21/11/2021,Raipur,Goa,16:55,00:20,1 stop via New Delhi,"₹ 12,429"
456,IndiGo,21/11/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 13,111"
457,IndiGo,21/11/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 13,636"

Lenght :  458

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-22/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
471,"Air India, IndiGo",22/11/2021,Raipur,Goa,14:25,20:50,"2 stop via Jagdalpur,Hyderabad","₹ 9,374"
472,IndiGo,22/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 10,434"
473,IndiGo,22/11/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 10,812"
474,Vistara,22/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 12,068"
475,"Vistara, Go First",22/11/2021,Raipur,Goa,08:55,21:00,"2 stop via New Delhi,Hyderabad","₹ 15,182"

Lenght :  476

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-23/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
498,IndiGo,23/11/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 9,751"
499,Vistara,23/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 10,863"
500,IndiGo,23/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 12,534"
501,"IndiGo, Go First",23/11/2021,Raipur,Goa,13:25,13:30,"3 stop via Pune,Hyderabad,New Delhi","₹ 12,733"
502,"IndiGo, AirAsia",23/11/2021,Raipur,Goa,13:25,07:00,"3 stop via Pune,Hyderabad,Bengaluru","₹ 15,569"

Lenght :  503

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
512,"IndiGo, AirAsia",24/11/2021,Raipur,Goa,10:00,22:00,"2 stop via Hyderabad,Bengaluru","₹ 9,162"
513,IndiGo,24/11/2021,Raipur,Goa,15:35,20:50,1 stop via Hyderabad,"₹ 9,958"
514,IndiGo,24/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 10,014"
515,Vistara,24/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 10,863"
516,IndiGo,24/11/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 11,536"

Lenght :  517

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
527,IndiGo,25/11/2021,Raipur,Goa,15:35,20:50,1 stop via Hyderabad,"₹ 9,751"
528,IndiGo,25/11/2021,Raipur,Goa,18:00,22:55,1 stop via Ahmedabad,"₹ 9,804"
529,IndiGo,25/11/2021,Raipur,Goa,09:05,14:35,1 stop via Kolkata,"₹ 10,308"
530,IndiGo,25/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 10,434"
531,Vistara,25/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 12,782"

Lenght :  532

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
542,Air India,26/11/2021,Raipur,Goa,18:50,00:35,1 stop via New Delhi,"₹ 8,128"
543,Air India,26/11/2021,Raipur,Goa,12:30,20:30,"2 stop via Visakhapatnam,Mumbai","₹ 8,355"
544,IndiGo,26/11/2021,Raipur,Goa,08:40,15:15,1 stop via Mumbai,"₹ 9,037"
545,"Vistara, IndiGo",26/11/2021,Raipur,Goa,08:55,20:50,"2 stop via New Delhi,Hyderabad","₹ 9,376"
546,IndiGo,26/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 14,529"

Lenght :  547

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
558,"Air India, Go First",27/11/2021,Raipur,Goa,14:25,21:00,"2 stop via Jagdalpur,Hyderabad","₹ 6,401"
559,"Air India, IndiGo",27/11/2021,Raipur,Goa,14:25,20:50,"2 stop via Jagdalpur,Hyderabad","₹ 6,495"
560,Air India,27/11/2021,Raipur,Goa,18:50,00:35,1 stop via New Delhi,"₹ 7,708"
561,"Vistara, Go First",27/11/2021,Raipur,Goa,08:55,21:00,"2 stop via New Delhi,Hyderabad","₹ 9,110"
562,IndiGo,27/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 13,269"

Lenght :  563

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
570,IndiGo,28/11/2021,Raipur,Goa,19:35,02:00,1 stop via Bengaluru,"₹ 5,503"
571,IndiGo,28/11/2021,Raipur,Goa,15:35,20:50,1 stop via Hyderabad,"₹ 5,507"
572,IndiGo,28/11/2021,Raipur,Goa,09:05,14:35,1 stop via Kolkata,"₹ 5,713"
573,IndiGo,28/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 7,257"
574,Vistara,28/11/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 11,169"

Lenght :  575

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
583,IndiGo,29/11/2021,Raipur,Goa,20:25,03:00,1 stop via Kolkata,"₹ 5,713"
584,"Air India, IndiGo",29/11/2021,Raipur,Goa,14:25,20:50,"2 stop via Jagdalpur,Hyderabad","₹ 5,967"
585,IndiGo,29/11/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 6,654"
586,IndiGo,29/11/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 6,916"
587,"Vistara, IndiGo",29/11/2021,Raipur,Goa,08:55,20:50,"2 stop via New Delhi,Hyderabad","₹ 8,361"

Lenght :  588

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
601,IndiGo,30/11/2021,Raipur,Goa,10:00,14:00,1 stop via Hyderabad,"₹ 6,969"
602,IndiGo,30/11/2021,Raipur,Goa,09:45,18:25,1 stop via Bengaluru,"₹ 7,121"
603,IndiGo,30/11/2021,Raipur,Goa,16:55,00:20,1 stop via New Delhi,"₹ 7,714"
604,"Vistara, Go First",30/11/2021,Raipur,Goa,08:55,21:00,"2 stop via New Delhi,Hyderabad","₹ 8,550"
605,IndiGo,30/11/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 8,691"

Lenght :  606

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-01/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
628,IndiGo,01/12/2021,Raipur,Goa,08:40,18:00,1 stop via Mumbai,"₹ 11,103"
629,IndiGo,01/12/2021,Raipur,Goa,16:55,00:20,1 stop via New Delhi,"₹ 11,103"
630,IndiGo,01/12/2021,Raipur,Goa,14:35,01:15,1 stop via Mumbai,"₹ 11,103"
631,IndiGo,01/12/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 12,086"
632,IndiGo,01/12/2021,Raipur,Goa,09:15,18:20,1 stop via New Delhi,"₹ 12,086"

Lenght :  633

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-02/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
657,IndiGo,02/12/2021,Raipur,Goa,18:10,03:00,1 stop via Kolkata,"₹ 11,103"
658,IndiGo,02/12/2021,Raipur,Goa,08:40,15:15,1 stop via Mumbai,"₹ 12,086"
659,IndiGo,02/12/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 12,086"
660,IndiGo,02/12/2021,Raipur,Goa,09:15,18:20,1 stop via New Delhi,"₹ 12,086"
661,IndiGo,02/12/2021,Raipur,Goa,09:05,14:35,1 stop via Kolkata,"₹ 17,591"

Lenght :  662

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-03/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
687,IndiGo,03/12/2021,Raipur,Goa,14:35,01:15,1 stop via Mumbai,"₹ 11,103"
688,IndiGo,03/12/2021,Raipur,Goa,20:25,03:00,1 stop via Kolkata,"₹ 11,103"
689,IndiGo,03/12/2021,Raipur,Goa,16:40,03:00,1 stop via Kolkata,"₹ 11,103"
690,IndiGo,03/12/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 14,925"
691,IndiGo,03/12/2021,Raipur,Goa,09:15,18:20,1 stop via New Delhi,"₹ 14,925"

Lenght :  692

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-04/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
717,IndiGo,04/12/2021,Raipur,Goa,14:35,01:15,1 stop via Mumbai,"₹ 11,103"
718,IndiGo,04/12/2021,Raipur,Goa,20:45,02:35,1 stop via New Delhi,"₹ 11,103"
719,IndiGo,04/12/2021,Raipur,Goa,16:55,02:35,1 stop via New Delhi,"₹ 11,103"
720,IndiGo,04/12/2021,Raipur,Goa,20:25,03:00,1 stop via Kolkata,"₹ 11,103"
721,IndiGo,04/12/2021,Raipur,Goa,18:10,03:00,1 stop via Kolkata,"₹ 11,103"

Lenght :  722

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-05/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 56
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
745,IndiGo,05/12/2021,Raipur,Goa,14:35,01:15,1 stop via Mumbai,"₹ 11,103"
746,IndiGo,05/12/2021,Raipur,Goa,18:10,03:00,1 stop via Kolkata,"₹ 11,103"
747,Vistara,05/12/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 11,883"
748,IndiGo,05/12/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 12,086"
749,IndiGo,05/12/2021,Raipur,Goa,09:15,18:20,1 stop via New Delhi,"₹ 12,086"

Lenght :  750

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-06/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
761,IndiGo,06/12/2021,Raipur,Goa,15:35,20:50,1 stop via Hyderabad,"₹ 7,021"
762,"Air India, IndiGo",06/12/2021,Raipur,Goa,14:25,20:50,"2 stop via Jagdalpur,Hyderabad","₹ 7,695"
763,IndiGo,06/12/2021,Raipur,Goa,19:20,01:15,1 stop via Mumbai,"₹ 7,879"
764,"Vistara, Go First",06/12/2021,Raipur,Goa,08:55,21:30,"2 stop via New Delhi,Hyderabad","₹ 8,860"
765,IndiGo,06/12/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 8,964"

Lenght :  766

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-07/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
790,IndiGo,07/12/2021,Raipur,Goa,08:40,18:00,1 stop via Mumbai,"₹ 11,103"
791,IndiGo,07/12/2021,Raipur,Goa,14:35,01:15,1 stop via Mumbai,"₹ 11,103"
792,IndiGo,07/12/2021,Raipur,Goa,18:10,03:00,1 stop via Kolkata,"₹ 11,103"
793,IndiGo,07/12/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 12,086"
794,IndiGo,07/12/2021,Raipur,Goa,09:15,18:20,1 stop via New Delhi,"₹ 12,086"

Lenght :  795

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-08/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
815,IndiGo,08/12/2021,Raipur,Goa,08:40,18:00,1 stop via Mumbai,"₹ 11,103"
816,IndiGo,08/12/2021,Raipur,Goa,14:35,01:15,1 stop via Mumbai,"₹ 11,103"
817,IndiGo,08/12/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 12,086"
818,IndiGo,08/12/2021,Raipur,Goa,09:15,18:20,1 stop via New Delhi,"₹ 12,086"
819,Vistara,08/12/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 12,219"

Lenght :  820

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-09/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
845,IndiGo,09/12/2021,Raipur,Goa,16:55,00:20,1 stop via New Delhi,"₹ 11,103"
846,IndiGo,09/12/2021,Raipur,Goa,14:35,01:15,1 stop via Mumbai,"₹ 11,103"
847,IndiGo,09/12/2021,Raipur,Goa,18:10,03:00,1 stop via Kolkata,"₹ 11,103"
848,IndiGo,09/12/2021,Raipur,Goa,11:30,18:20,1 stop via New Delhi,"₹ 13,049"
849,IndiGo,09/12/2021,Raipur,Goa,09:15,18:20,1 stop via New Delhi,"₹ 13,049"

Lenght :  850

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-10/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
860,"IndiGo, Go First",10/12/2021,Raipur,Goa,09:45,17:10,1 stop via Bengaluru,"₹ 10,465"
861,IndiGo,10/12/2021,Raipur,Goa,09:05,14:35,1 stop via Kolkata,"₹ 11,103"
862,IndiGo,10/12/2021,Raipur,Goa,19:20,01:15,1 stop via Mumbai,"₹ 11,103"
863,IndiGo,10/12/2021,Raipur,Goa,20:45,02:35,1 stop via New Delhi,"₹ 11,103"
864,Vistara,10/12/2021,Raipur,Goa,08:55,21:20,1 stop via New Delhi,"₹ 11,883"

Lenght :  865

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-GOI-11/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
876,Air India,11/12/2021,Raipur,Goa,18:50,00:35,1 stop via New Delhi,"₹ 8,548"
877,"Vistara, Go First",11/12/2021,Raipur,Goa,08:55,21:30,"2 stop via New Delhi,Hyderabad","₹ 8,860"
878,IndiGo,11/12/2021,Raipur,Goa,10:30,14:10,1 stop via Indore,"₹ 8,964"
879,IndiGo,11/12/2021,Raipur,Goa,19:35,02:00,1 stop via Bengaluru,"₹ 9,011"
880,IndiGo,11/12/2021,Raipur,Goa,18:00,22:55,1 stop via Ahmedabad,"₹ 9,660"

Lenght :  881

origin = RPR
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
890,IndiGo,30/10/2021,Raipur,Ahmedabad,09:10,19:35,1 stop via Bengaluru,"₹ 7,394"
891,IndiGo,30/10/2021,Raipur,Ahmedabad,09:10,14:30,1 stop via Bengaluru,"₹ 8,160"
892,IndiGo,30/10/2021,Raipur,Ahmedabad,12:45,22:00,1 stop via Indore,"₹ 8,160"
893,IndiGo,30/10/2021,Raipur,Ahmedabad,10:00,18:55,1 stop via Pune,"₹ 8,927"
894,IndiGo,30/10/2021,Raipur,Ahmedabad,13:05,18:15,1 stop via Lucknow,"₹ 10,329"

Lenght :  895

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
903,IndiGo,31/10/2021,Raipur,Ahmedabad,14:35,20:25,1 stop via Mumbai,"₹ 5,478"
904,IndiGo,31/10/2021,Raipur,Ahmedabad,15:35,22:15,1 stop via Hyderabad,"₹ 5,478"
905,IndiGo,31/10/2021,Raipur,Ahmedabad,11:30,16:40,1 stop via New Delhi,"₹ 6,627"
906,"Air India, IndiGo",31/10/2021,Raipur,Ahmedabad,14:25,22:15,"2 stop via Jagdalpur,Hyderabad","₹ 10,160"
907,"Vistara, IndiGo",31/10/2021,Raipur,Ahmedabad,08:55,22:15,"2 stop via New Delhi,Hyderabad","₹ 16,107"

Lenght :  908

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-01/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
914,IndiGo,01/11/2021,Raipur,Ahmedabad,16:55,23:50,1 stop via New Delhi,"₹ 5,094"
915,IndiGo,01/11/2021,Raipur,Ahmedabad,09:45,15:15,1 stop via Bengaluru,"₹ 5,478"
916,IndiGo,01/11/2021,Raipur,Ahmedabad,11:30,19:55,1 stop via New Delhi,"₹ 5,861"
917,"Air India, IndiGo",01/11/2021,Raipur,Ahmedabad,14:25,22:15,"2 stop via Jagdalpur,Hyderabad","₹ 10,580"
918,"Vistara, IndiGo",01/11/2021,Raipur,Ahmedabad,08:55,22:15,"2 stop via New Delhi,Hyderabad","₹ 15,482"

Lenght :  919

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-02/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
932,IndiGo,02/11/2021,Raipur,Ahmedabad,20:25,08:20,1 stop via Kolkata,"₹ 7,394"
933,IndiGo,02/11/2021,Raipur,Ahmedabad,13:25,18:05,1 stop via Pune,"₹ 8,160"
934,IndiGo,02/11/2021,Raipur,Ahmedabad,09:05,19:35,1 stop via Kolkata,"₹ 8,160"
935,"Air India, IndiGo",02/11/2021,Raipur,Ahmedabad,14:25,07:35,"3 stop via Jagdalpur,Hyderabad,Bengaluru","₹ 9,584"
936,"Air India, IndiGo",02/11/2021,Raipur,Ahmedabad,14:25,22:15,"2 stop via Jagdalpur,Hyderabad","₹ 10,160"

Lenght :  937

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-03/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
942,IndiGo,03/11/2021,Raipur,Ahmedabad,11:30,19:55,1 stop via New Delhi,"₹ 5,094"
943,IndiGo,03/11/2021,Raipur,Ahmedabad,09:45,15:15,1 stop via Bengaluru,"₹ 5,478"
944,IndiGo,03/11/2021,Raipur,Ahmedabad,16:55,23:50,1 stop via New Delhi,"₹ 5,861"
945,"Air India, IndiGo",03/11/2021,Raipur,Ahmedabad,14:25,22:15,"2 stop via Jagdalpur,Hyderabad","₹ 10,580"
946,"Vistara, IndiGo",03/11/2021,Raipur,Ahmedabad,08:55,22:15,"2 stop via New Delhi,Hyderabad","₹ 15,482"

Lenght :  947

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-04/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
959,IndiGo,04/11/2021,Raipur,Ahmedabad,19:35,07:35,1 stop via Bengaluru,"₹ 5,478"
960,IndiGo,04/11/2021,Raipur,Ahmedabad,19:00,06:45,1 stop via Chennai,"₹ 6,627"
961,IndiGo,04/11/2021,Raipur,Ahmedabad,09:05,19:35,1 stop via Kolkata,"₹ 7,394"
962,IndiGo,04/11/2021,Raipur,Ahmedabad,20:25,08:20,1 stop via Kolkata,"₹ 7,394"
963,"Air India, IndiGo",04/11/2021,Raipur,Ahmedabad,14:25,22:15,"2 stop via Jagdalpur,Hyderabad","₹ 9,584"

Lenght :  964

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-05/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
970,IndiGo,05/11/2021,Raipur,Ahmedabad,14:35,20:25,1 stop via Mumbai,"₹ 7,394"
971,IndiGo,05/11/2021,Raipur,Ahmedabad,16:40,00:05,1 stop via Kolkata,"₹ 7,394"
972,IndiGo,05/11/2021,Raipur,Ahmedabad,09:45,15:15,1 stop via Bengaluru,"₹ 7,777"
973,"Air India, IndiGo",05/11/2021,Raipur,Ahmedabad,14:25,22:15,"2 stop via Jagdalpur,Hyderabad","₹ 11,158"
974,"Vistara, IndiGo",05/11/2021,Raipur,Ahmedabad,08:55,22:15,"2 stop via New Delhi,Hyderabad","₹ 21,238"

Lenght :  975

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-06/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
989,IndiGo,06/11/2021,Raipur,Ahmedabad,11:30,19:55,1 stop via New Delhi,"₹ 17,332"
990,IndiGo,06/11/2021,Raipur,Ahmedabad,16:55,23:50,1 stop via New Delhi,"₹ 17,679"
991,IndiGo,06/11/2021,Raipur,Ahmedabad,09:15,15:05,1 stop via New Delhi,"₹ 17,889"
992,"Vistara, IndiGo",06/11/2021,Raipur,Ahmedabad,08:55,00:05,"3 stop via New Delhi,Hyderabad,Mumbai","₹ 21,261"
993,"Vistara, IndiGo",06/11/2021,Raipur,Ahmedabad,08:55,22:15,"2 stop via New Delhi,Hyderabad","₹ 23,392"

Lenght :  994

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-07/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
999,"Air India, IndiGo",07/11/2021,Raipur,Ahmedabad,14:25,22:15,"2 stop via Jagdalpur,Hyderabad","₹ 16,252"
1000,IndiGo,07/11/2021,Raipur,Ahmedabad,14:35,20:25,1 stop via Mumbai,"₹ 16,261"
1001,IndiGo,07/11/2021,Raipur,Ahmedabad,19:20,00:05,1 stop via Mumbai,"₹ 16,471"
1002,IndiGo,07/11/2021,Raipur,Ahmedabad,09:45,15:15,1 stop via Bengaluru,"₹ 18,624"
1003,"Vistara, IndiGo",07/11/2021,Raipur,Ahmedabad,08:55,22:15,"2 stop via New Delhi,Hyderabad","₹ 29,692"

Lenght :  1004

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-08/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1010,IndiGo,08/11/2021,Raipur,Ahmedabad,16:40,00:05,1 stop via Kolkata,"₹ 10,460"
1011,"Air India, IndiGo",08/11/2021,Raipur,Ahmedabad,14:25,22:15,"2 stop via Jagdalpur,Hyderabad","₹ 14,204"
1012,IndiGo,08/11/2021,Raipur,Ahmedabad,08:40,14:55,1 stop via Mumbai,"₹ 14,214"
1013,IndiGo,08/11/2021,Raipur,Ahmedabad,09:15,15:05,1 stop via New Delhi,"₹ 15,999"
1014,"Vistara, IndiGo",08/11/2021,Raipur,Ahmedabad,08:55,00:05,"3 stop via New Delhi,Hyderabad,Mumbai","₹ 17,908"

Lenght :  1015

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-09/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1022,"Air India, IndiGo",09/11/2021,Raipur,Ahmedabad,14:25,22:15,"2 stop via Jagdalpur,Hyderabad","₹ 13,312"
1023,IndiGo,09/11/2021,Raipur,Ahmedabad,13:25,18:05,1 stop via Pune,"₹ 13,479"
1024,IndiGo,09/11/2021,Raipur,Ahmedabad,08:40,14:55,1 stop via Mumbai,"₹ 14,214"
1025,IndiGo,09/11/2021,Raipur,Ahmedabad,09:45,15:15,1 stop via Bengaluru,"₹ 14,527"
1026,"Vistara, IndiGo",09/11/2021,Raipur,Ahmedabad,08:55,22:15,"2 stop via New Delhi,Hyderabad","₹ 18,261"

Lenght :  1027

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-10/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1032,IndiGo,10/11/2021,Raipur,Ahmedabad,16:40,00:05,1 stop via Kolkata,"₹ 10,843"
1033,IndiGo,10/11/2021,Raipur,Ahmedabad,15:35,22:15,1 stop via Hyderabad,"₹ 12,744"
1034,"Air India, IndiGo",10/11/2021,Raipur,Ahmedabad,14:25,22:15,"2 stop via Jagdalpur,Hyderabad","₹ 12,997"
1035,IndiGo,10/11/2021,Raipur,Ahmedabad,09:45,15:15,1 stop via Bengaluru,"₹ 13,248"
1036,"Vistara, IndiGo",10/11/2021,Raipur,Ahmedabad,08:55,22:15,"2 stop via New Delhi,Hyderabad","₹ 18,438"

Lenght :  1037

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-11/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1052,IndiGo,11/11/2021,Raipur,Ahmedabad,16:55,23:50,1 stop via New Delhi,"₹ 16,366"
1053,IndiGo,11/11/2021,Raipur,Ahmedabad,11:30,22:00,1 stop via New Delhi,"₹ 17,259"
1054,IndiGo,11/11/2021,Raipur,Ahmedabad,10:00,18:05,1 stop via Hyderabad,"₹ 18,414"
1055,IndiGo,11/11/2021,Raipur,Ahmedabad,09:05,19:35,1 stop via Kolkata,"₹ 18,781"
1056,IndiGo,11/11/2021,Raipur,Ahmedabad,11:30,19:55,1 stop via New Delhi,"₹ 19,621"

Lenght :  1057

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-12/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1070,IndiGo,12/11/2021,Raipur,Ahmedabad,19:35,07:35,1 stop via Bengaluru,"₹ 19,044"
1071,"Vistara, IndiGo",12/11/2021,Raipur,Ahmedabad,08:55,22:15,"2 stop via New Delhi,Hyderabad","₹ 19,068"
1072,IndiGo,12/11/2021,Raipur,Ahmedabad,16:55,23:50,1 stop via New Delhi,"₹ 19,254"
1073,IndiGo,12/11/2021,Raipur,Ahmedabad,11:30,19:55,1 stop via New Delhi,"₹ 19,621"
1074,IndiGo,12/11/2021,Raipur,Ahmedabad,09:05,19:35,1 stop via Kolkata,"₹ 22,115"

Lenght :  1075

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-AMD-13/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-7-5312db3adbf2>, LINE 19 "driver.get(baseDataUrl)  			 # URL requested in browser."): Message: disconnected: Unable to receive message from renderer
  (Session info: chrome=95.0.4638.54)

13/11/2021  scraping complete

origin = RPR
destin = IXC

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1080,IndiGo,30/10/2021,Raipur,Chandigarh,08:05,13:40,1 stop via New Delhi,"₹ 10,524"
1081,IndiGo,30/10/2021,Raipur,Chandigarh,15:05,22:20,1 stop via Mumbai,"₹ 10,524"
1082,Vistara,30/10/2021,Raipur,Chandigarh,08:55,14:45,1 stop via New Delhi,"₹ 11,064"
1083,"Air India, Vistara",30/10/2021,Raipur,Chandigarh,07:45,14:45,"2 stop via Nagpur,New Delhi","₹ 16,389"
1084,"Air India, Go First",30/10/2021,Raipur,Chandigarh,18:55,07:30,"2 stop via New Delhi,Mumbai","₹ 17,422"

Lenght :  1085

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1098,"IndiGo, Vistara",31/10/2021,Raipur,Chandigarh,09:15,14:45,1 stop via New Delhi,"₹ 13,659"
1099,IndiGo,31/10/2021,Raipur,Chandigarh,08:40,17:35,"2 stop via Mumbai,Jammu","₹ 15,054"
1100,Air India,31/10/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 17,574"
1101,IndiGo,31/10/2021,Raipur,Chandigarh,13:25,20:15,1 stop via Pune,"₹ 23,191"
1102,Air India,31/10/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 24,189"

Lenght :  1103

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-01/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1108,Vistara,01/11/2021,Raipur,Chandigarh,08:55,14:45,1 stop via New Delhi,"₹ 7,918"
1109,IndiGo,01/11/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 8,235"
1110,"Air India, Go First",01/11/2021,Raipur,Chandigarh,07:45,16:50,"3 stop via Nagpur,New Delhi,Srinagar","₹ 8,985"
1111,"IndiGo, Vistara",01/11/2021,Raipur,Chandigarh,09:15,14:45,1 stop via New Delhi,"₹ 9,197"
1112,"Air India, Vistara",01/11/2021,Raipur,Chandigarh,07:45,14:45,"2 stop via Nagpur,New Delhi","₹ 9,197"

Lenght :  1113

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-02/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1130,Vistara,02/11/2021,Raipur,Chandigarh,20:20,14:45,1 stop via New Delhi,"₹ 13,269"
1131,Air India,02/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 16,629"
1132,Air India,02/11/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 17,469"
1133,"IndiGo, Go First",02/11/2021,Raipur,Chandigarh,09:25,07:30,"3 stop via Allahabad,New Delhi,Mumbai","₹ 24,989"
1134,"Air India, Go First",02/11/2021,Raipur,Chandigarh,12:30,07:30,"3 stop via Visakhapatnam,New Delhi,Mumbai","₹ 25,020"

Lenght :  1135

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-03/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1149,Air India,03/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,232"
1150,Vistara,03/11/2021,Raipur,Chandigarh,08:55,14:45,1 stop via New Delhi,"₹ 13,269"
1151,"IndiGo, Vistara",03/11/2021,Raipur,Chandigarh,09:15,14:45,1 stop via New Delhi,"₹ 13,659"
1152,Air India,03/11/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 15,421"
1153,Air India,03/11/2021,Raipur,Chandigarh,12:30,06:35,"2 stop via Visakhapatnam,New Delhi","₹ 15,736"

Lenght :  1154

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-04/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1169,IndiGo,04/11/2021,Raipur,Chandigarh,09:45,19:00,1 stop via Bengaluru,"₹ 9,037"
1170,Air India,04/11/2021,Raipur,Chandigarh,18:50,07:40,1 stop via New Delhi,"₹ 11,064"
1171,Air India,04/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 15,159"
1172,Air India,04/11/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 15,159"
1173,Air India,04/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 15,159"

Lenght :  1174

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-05/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1188,IndiGo,05/11/2021,Raipur,Chandigarh,19:20,00:35,1 stop via Mumbai,"₹ 14,870"
1189,IndiGo,05/11/2021,Raipur,Chandigarh,14:35,22:25,1 stop via Mumbai,"₹ 14,886"
1190,IndiGo,05/11/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 15,101"
1191,IndiGo,05/11/2021,Raipur,Chandigarh,14:35,00:35,1 stop via Mumbai,"₹ 15,253"
1192,IndiGo,05/11/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 15,474"

Lenght :  1193

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-06/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1207,IndiGo,06/11/2021,Raipur,Chandigarh,14:35,00:35,1 stop via Mumbai,"₹ 18,009"
1208,IndiGo,06/11/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 18,915"
1209,IndiGo,06/11/2021,Raipur,Chandigarh,09:45,19:00,1 stop via Bengaluru,"₹ 20,987"
1210,Air India,06/11/2021,Raipur,Chandigarh,18:00,19:55,"3 stop via Jharsuguda,Kolkata,New Delhi","₹ 21,406"
1211,IndiGo,06/11/2021,Raipur,Chandigarh,13:25,20:15,1 stop via Pune,"₹ 24,189"

Lenght :  1212

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-07/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1225,IndiGo,07/11/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 18,152"
1226,IndiGo,07/11/2021,Raipur,Chandigarh,14:35,22:25,1 stop via Mumbai,"₹ 18,152"
1227,IndiGo,07/11/2021,Raipur,Chandigarh,09:45,19:00,1 stop via Bengaluru,"₹ 20,095"
1228,IndiGo,07/11/2021,Raipur,Chandigarh,08:40,17:35,"2 stop via Mumbai,Jammu","₹ 22,782"
1229,IndiGo,07/11/2021,Raipur,Chandigarh,13:25,20:15,1 stop via Pune,"₹ 26,866"

Lenght :  1230

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-08/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1246,IndiGo,08/11/2021,Raipur,Chandigarh,14:35,22:25,1 stop via Mumbai,"₹ 14,337"
1247,Air India,08/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 14,437"
1248,Air India,08/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 14,437"
1249,Air India,08/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 14,437"
1250,IndiGo,08/11/2021,Raipur,Chandigarh,09:45,19:00,1 stop via Bengaluru,"₹ 14,760"

Lenght :  1251

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-09/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1266,IndiGo,09/11/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 15,054"
1267,Air India,09/11/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 15,054"
1268,Air India,09/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 15,264"
1269,Air India,09/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 15,264"
1270,IndiGo,09/11/2021,Raipur,Chandigarh,13:25,20:15,1 stop via Pune,"₹ 16,261"

Lenght :  1271

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-10/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1286,IndiGo,10/11/2021,Raipur,Chandigarh,14:35,00:35,1 stop via Mumbai,"₹ 12,035"
1287,Air India,10/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,232"
1288,Air India,10/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,232"
1289,Air India,10/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,232"
1290,Air India,10/11/2021,Raipur,Chandigarh,12:30,06:35,"2 stop via Visakhapatnam,New Delhi","₹ 13,534"

Lenght :  1291

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-11/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1305,Air India,11/11/2021,Raipur,Chandigarh,18:50,07:40,1 stop via New Delhi,"₹ 9,909"
1306,Air India,11/11/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 12,445"
1307,Air India,11/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,980"
1308,Air India,11/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,980"
1309,IndiGo,11/11/2021,Raipur,Chandigarh,13:25,20:15,1 stop via Pune,"₹ 14,686"

Lenght :  1310

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-12/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1313,IndiGo,12/11/2021,Raipur,Chandigarh,16:55,22:00,1 stop via New Delhi,"₹ 8,649"
1314,"IndiGo, Go First",12/11/2021,Raipur,Chandigarh,09:15,16:50,"2 stop via New Delhi,Srinagar","₹ 8,985"
1315,Vistara,12/11/2021,Raipur,Chandigarh,08:55,14:45,1 stop via New Delhi,"₹ 9,570"
1316,"IndiGo, Vistara",12/11/2021,Raipur,Chandigarh,09:15,14:45,1 stop via New Delhi,"₹ 10,037"
1317,"Air India, Vistara",12/11/2021,Raipur,Chandigarh,09:40,14:45,1 stop via New Delhi,"₹ 10,352"

Lenght :  1318

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-13/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1329,IndiGo,13/11/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 12,350"
1330,Air India,13/11/2021,Raipur,Chandigarh,18:00,19:55,"3 stop via Jharsuguda,Kolkata,New Delhi","₹ 13,216"
1331,IndiGo,13/11/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 14,581"
1332,IndiGo,13/11/2021,Raipur,Chandigarh,13:25,20:15,1 stop via Pune,"₹ 15,001"
1333,IndiGo,13/11/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 16,576"

Lenght :  1334

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-14/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1346,Air India,14/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 13,715"
1347,Air India,14/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 13,715"
1348,IndiGo,14/11/2021,Raipur,Chandigarh,08:40,17:35,"2 stop via Mumbai,Jammu","₹ 15,153"
1349,IndiGo,14/11/2021,Raipur,Chandigarh,13:25,20:15,1 stop via Pune,"₹ 15,211"
1350,Air India,14/11/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 16,974"

Lenght :  1351

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-15/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1365,IndiGo,15/11/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 10,434"
1366,Air India,15/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,067"
1367,Air India,15/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,067"
1368,Air India,15/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,067"
1369,Air India,15/11/2021,Raipur,Chandigarh,12:30,06:35,"2 stop via Visakhapatnam,New Delhi","₹ 15,642"

Lenght :  1370

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-16/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1386,IndiGo,16/11/2021,Raipur,Chandigarh,09:45,19:00,1 stop via Bengaluru,"₹ 9,037"
1387,"IndiGo, Vistara",16/11/2021,Raipur,Chandigarh,09:15,14:45,1 stop via New Delhi,"₹ 9,354"
1388,Air India,16/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,273"
1389,Air India,16/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,273"
1390,Air India,16/11/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 13,456"

Lenght :  1391

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-17/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1404,IndiGo,17/11/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 10,486"
1405,Air India,17/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,067"
1406,Air India,17/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,067"
1407,Air India,17/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,067"
1408,Air India,17/11/2021,Raipur,Chandigarh,12:30,06:35,"2 stop via Visakhapatnam,New Delhi","₹ 16,377"

Lenght :  1409

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-18/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1423,Air India,18/11/2021,Raipur,Chandigarh,18:50,07:40,1 stop via New Delhi,"₹ 9,909"
1424,IndiGo,18/11/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 10,171"
1425,Air India,18/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 13,586"
1426,Air India,18/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 13,586"
1427,Air India,18/11/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 17,499"

Lenght :  1428

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-19/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1444,Air India,19/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,232"
1445,Air India,19/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,232"
1446,Air India,19/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,232"
1447,IndiGo,19/11/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 16,576"
1448,Air India,19/11/2021,Raipur,Chandigarh,12:30,06:35,"2 stop via Visakhapatnam,New Delhi","₹ 20,520"

Lenght :  1449

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-20/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1463,IndiGo,20/11/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 10,434"
1464,IndiGo,20/11/2021,Raipur,Chandigarh,09:45,19:00,1 stop via Bengaluru,"₹ 11,227"
1465,IndiGo,20/11/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 12,586"
1466,IndiGo,20/11/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 12,813"
1467,Air India,20/11/2021,Raipur,Chandigarh,18:00,19:55,"3 stop via Jharsuguda,Kolkata,New Delhi","₹ 14,056"

Lenght :  1468

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-21/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1482,IndiGo,21/11/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 11,286"
1483,Air India,21/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 14,660"
1484,Air India,21/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 14,660"
1485,IndiGo,21/11/2021,Raipur,Chandigarh,13:25,20:15,1 stop via Pune,"₹ 14,949"
1486,Air India,21/11/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 15,819"

Lenght :  1487

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-22/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1502,IndiGo,22/11/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 10,119"
1503,IndiGo,22/11/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 11,221"
1504,Air India,22/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,067"
1505,Air India,22/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,067"
1506,Air India,22/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,067"

Lenght :  1507

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-23/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1523,IndiGo,23/11/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 10,171"
1524,IndiGo,23/11/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 11,116"
1525,Air India,23/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 13,061"
1526,Air India,23/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 13,061"
1527,Air India,23/11/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 14,664"

Lenght :  1528

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1542,Air India,24/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 11,728"
1543,Air India,24/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 11,728"
1544,Air India,24/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 11,728"
1545,Air India,24/11/2021,Raipur,Chandigarh,12:30,06:35,"2 stop via Visakhapatnam,New Delhi","₹ 14,907"
1546,"IndiGo, Go First",24/11/2021,Raipur,Chandigarh,09:25,07:30,"3 stop via Allahabad,New Delhi,Mumbai","₹ 19,978"

Lenght :  1547

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1558,"IndiGo, Vistara",25/11/2021,Raipur,Chandigarh,09:15,14:45,1 stop via New Delhi,"₹ 9,197"
1559,IndiGo,25/11/2021,Raipur,Chandigarh,09:45,19:00,1 stop via Bengaluru,"₹ 9,290"
1560,IndiGo,25/11/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 10,171"
1561,IndiGo,25/11/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 10,696"
1562,IndiGo,25/11/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 12,901"

Lenght :  1563

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1577,IndiGo,26/11/2021,Raipur,Chandigarh,09:15,15:45,1 stop via New Delhi,"₹ 8,544"
1578,"IndiGo, Vistara",26/11/2021,Raipur,Chandigarh,11:30,18:15,1 stop via New Delhi,"₹ 9,617"
1579,"Air India, Vistara",26/11/2021,Raipur,Chandigarh,09:40,14:45,1 stop via New Delhi,"₹ 9,949"
1580,Air India,26/11/2021,Raipur,Chandigarh,12:30,06:35,"2 stop via Visakhapatnam,New Delhi","₹ 10,234"
1581,IndiGo,26/11/2021,Raipur,Chandigarh,09:45,19:00,1 stop via Bengaluru,"₹ 15,580"

Lenght :  1582

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1597,IndiGo,27/11/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 7,357"
1598,IndiGo,27/11/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 8,406"
1599,IndiGo,27/11/2021,Raipur,Chandigarh,13:25,20:15,1 stop via Pune,"₹ 8,964"
1600,Air India,27/11/2021,Raipur,Chandigarh,18:00,19:55,"3 stop via Jharsuguda,Kolkata,New Delhi","₹ 12,618"
1601,IndiGo,27/11/2021,Raipur,Chandigarh,09:45,19:00,1 stop via Bengaluru,"₹ 15,580"

Lenght :  1602

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1617,Air India,28/11/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 7,515"
1618,IndiGo,28/11/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 7,704"
1619,IndiGo,28/11/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 8,924"
1620,IndiGo,28/11/2021,Raipur,Chandigarh,13:25,20:15,1 stop via Pune,"₹ 10,014"
1621,IndiGo,28/11/2021,Raipur,Chandigarh,09:45,19:00,1 stop via Bengaluru,"₹ 10,336"

Lenght :  1622

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1636,"IndiGo, Vistara",29/11/2021,Raipur,Chandigarh,11:30,18:15,1 stop via New Delhi,"₹ 7,043"
1637,Air India,29/11/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 7,280"
1638,Air India,29/11/2021,Raipur,Chandigarh,12:30,06:35,"2 stop via Visakhapatnam,New Delhi","₹ 7,714"
1639,IndiGo,29/11/2021,Raipur,Chandigarh,16:55,22:00,1 stop via New Delhi,"₹ 9,174"
1640,IndiGo,29/11/2021,Raipur,Chandigarh,09:45,19:00,1 stop via Bengaluru,"₹ 9,348"

Lenght :  1641

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1655,IndiGo,30/11/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 6,368"
1656,IndiGo,30/11/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 7,725"
1657,IndiGo,30/11/2021,Raipur,Chandigarh,09:45,19:00,1 stop via Bengaluru,"₹ 8,448"
1658,Air India,30/11/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 9,706"
1659,Air India,30/11/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 10,119"

Lenght :  1660

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-01/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1671,Air India,01/12/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 6,860"
1672,Air India,01/12/2021,Raipur,Chandigarh,12:30,06:35,"2 stop via Visakhapatnam,New Delhi","₹ 7,273"
1673,IndiGo,01/12/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 10,959"
1674,IndiGo,01/12/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 10,959"
1675,IndiGo,01/12/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 10,959"

Lenght :  1676

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-02/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1690,IndiGo,02/12/2021,Raipur,Chandigarh,11:30,18:30,1 stop via New Delhi,"₹ 10,959"
1691,IndiGo,02/12/2021,Raipur,Chandigarh,09:15,18:30,1 stop via New Delhi,"₹ 10,959"
1692,IndiGo,02/12/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 10,959"
1693,IndiGo,02/12/2021,Raipur,Chandigarh,16:55,22:00,1 stop via New Delhi,"₹ 12,744"
1694,IndiGo,02/12/2021,Raipur,Chandigarh,11:30,22:00,1 stop via New Delhi,"₹ 12,744"

Lenght :  1695

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-03/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1713,Air India,03/12/2021,Raipur,Chandigarh,12:30,06:35,"2 stop via Visakhapatnam,New Delhi","₹ 6,874"
1714,Air India,03/12/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 7,175"
1715,IndiGo,03/12/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 10,959"
1716,IndiGo,03/12/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 10,959"
1717,IndiGo,03/12/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 10,959"

Lenght :  1718

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-04/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1732,Air India,04/12/2021,Raipur,Chandigarh,18:00,19:55,"3 stop via Jharsuguda,Kolkata,New Delhi","₹ 10,623"
1733,IndiGo,04/12/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 10,959"
1734,IndiGo,04/12/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 10,959"
1735,IndiGo,04/12/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 10,959"
1736,IndiGo,04/12/2021,Raipur,Chandigarh,09:45,19:00,1 stop via Bengaluru,"₹ 15,647"

Lenght :  1737

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-05/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1751,Air India,05/12/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 9,076"
1752,IndiGo,05/12/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 10,959"
1753,IndiGo,05/12/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 10,959"
1754,IndiGo,05/12/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 10,959"
1755,IndiGo,05/12/2021,Raipur,Chandigarh,08:40,17:35,"2 stop via Mumbai,Jammu","₹ 11,011"

Lenght :  1756

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-06/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1767,Air India,06/12/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 6,860"
1768,Air India,06/12/2021,Raipur,Chandigarh,12:30,06:35,"2 stop via Visakhapatnam,New Delhi","₹ 6,874"
1769,Air India,06/12/2021,Raipur,Chandigarh,12:30,06:35,"2 stop via Visakhapatnam,New Delhi","₹ 6,874"
1770,"IndiGo, Vistara",06/12/2021,Raipur,Chandigarh,11:30,18:15,1 stop via New Delhi,"₹ 9,773"
1771,"IndiGo, Vistara",06/12/2021,Raipur,Chandigarh,09:15,14:45,1 stop via New Delhi,"₹ 9,983"

Lenght :  1772

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-07/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1784,Air India,07/12/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 8,761"
1785,Air India,07/12/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 8,775"
1786,IndiGo,07/12/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 10,959"
1787,IndiGo,07/12/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 10,959"
1788,IndiGo,07/12/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 10,959"

Lenght :  1789

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-08/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1800,Air India,08/12/2021,Raipur,Chandigarh,12:30,06:35,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 6,860"
1801,Air India,08/12/2021,Raipur,Chandigarh,12:30,06:35,"2 stop via Visakhapatnam,New Delhi","₹ 6,874"
1802,IndiGo,08/12/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 10,959"
1803,IndiGo,08/12/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 10,959"
1804,IndiGo,08/12/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 10,959"

Lenght :  1805

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-09/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1820,Air India,09/12/2021,Raipur,Chandigarh,12:30,07:40,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 8,761"
1821,Air India,09/12/2021,Raipur,Chandigarh,12:30,07:40,"2 stop via Visakhapatnam,New Delhi","₹ 8,775"
1822,IndiGo,09/12/2021,Raipur,Chandigarh,09:05,15:35,1 stop via Kolkata,"₹ 10,959"
1823,IndiGo,09/12/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 10,959"
1824,IndiGo,09/12/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 10,959"

Lenght :  1825

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-10/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1836,IndiGo,10/12/2021,Raipur,Chandigarh,08:40,17:50,1 stop via Mumbai,"₹ 10,959"
1837,IndiGo,10/12/2021,Raipur,Chandigarh,11:30,18:30,1 stop via New Delhi,"₹ 10,959"
1838,IndiGo,10/12/2021,Raipur,Chandigarh,09:15,18:30,1 stop via New Delhi,"₹ 10,959"
1839,IndiGo,10/12/2021,Raipur,Chandigarh,16:55,22:00,1 stop via New Delhi,"₹ 10,959"
1840,IndiGo,10/12/2021,Raipur,Chandigarh,11:30,22:00,1 stop via New Delhi,"₹ 10,959"

Lenght :  1841

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXC-11/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1853,IndiGo,11/12/2021,Raipur,Chandigarh,14:35,22:15,1 stop via Mumbai,"₹ 10,959"
1854,Air India,11/12/2021,Raipur,Chandigarh,18:00,19:55,"3 stop via Jharsuguda,Kolkata,New Delhi","₹ 11,778"
1855,IndiGo,11/12/2021,Raipur,Chandigarh,16:55,22:00,1 stop via New Delhi,"₹ 12,744"
1856,IndiGo,11/12/2021,Raipur,Chandigarh,11:30,22:00,1 stop via New Delhi,"₹ 12,744"
1857,IndiGo,11/12/2021,Raipur,Chandigarh,09:45,19:00,1 stop via Bengaluru,"₹ 14,350"

Lenght :  1858

origin = RPR
destin = IXR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1865,"IndiGo, AirAsia",30/10/2021,Raipur,Ranchi,08:05,16:20,1 stop via New Delhi,"₹ 10,667"
1866,"Vistara, AirAsia",30/10/2021,Raipur,Ranchi,08:55,16:20,1 stop via New Delhi,"₹ 10,668"
1867,IndiGo,30/10/2021,Raipur,Ranchi,07:30,13:35,1 stop via Mumbai,"₹ 10,801"
1868,IndiGo,30/10/2021,Raipur,Ranchi,07:30,19:30,1 stop via Mumbai,"₹ 10,801"
1869,IndiGo,30/10/2021,Raipur,Ranchi,10:00,15:45,1 stop via Pune,"₹ 17,164"

Lenght :  1870

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1879,"IndiGo, AirAsia",31/10/2021,Raipur,Ranchi,09:15,17:30,1 stop via New Delhi,"₹ 10,877"
1880,IndiGo,31/10/2021,Raipur,Ranchi,10:00,20:05,1 stop via Hyderabad,"₹ 11,116"
1881,IndiGo,31/10/2021,Raipur,Ranchi,15:35,20:05,1 stop via Hyderabad,"₹ 11,484"
1882,IndiGo,31/10/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 12,061"
1883,Air India,31/10/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,841"

Lenght :  1884

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-01/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1890,IndiGo,01/11/2021,Raipur,Ranchi,11:30,18:10,1 stop via New Delhi,"₹ 10,486"
1891,"Air India, Go First",01/11/2021,Raipur,Ranchi,12:30,07:30,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 10,653"
1892,IndiGo,01/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 10,749"
1893,"IndiGo, AirAsia",01/11/2021,Raipur,Ranchi,08:40,18:55,"2 stop via Mumbai,Bengaluru","₹ 10,966"
1894,"IndiGo, Go First",01/11/2021,Raipur,Ranchi,08:40,18:40,1 stop via Mumbai,"₹ 10,968"

Lenght :  1895

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-02/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1905,IndiGo,02/11/2021,Raipur,Ranchi,20:45,07:15,1 stop via New Delhi,"₹ 10,119"
1906,"Air India, IndiGo",02/11/2021,Raipur,Ranchi,14:25,07:15,"3 stop via Jagdalpur,Hyderabad,New Delhi","₹ 10,424"
1907,IndiGo,02/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 10,749"
1908,Air India,02/11/2021,Raipur,Ranchi,09:40,09:00,"2 stop via New Delhi,Kolkata","₹ 12,001"
1909,Air India,02/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 22,561"

Lenght :  1910

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-03/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1921,IndiGo,03/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 11,011"
1922,Air India,03/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,232"
1923,"Air India, IndiGo",03/11/2021,Raipur,Ranchi,14:25,08:30,"3 stop via Jagdalpur,Hyderabad,Kolkata","₹ 13,730"
1924,"Vistara, IndiGo",03/11/2021,Raipur,Ranchi,08:55,08:30,"3 stop via New Delhi,Hyderabad,Kolkata","₹ 19,677"
1925,"Vistara, IndiGo",03/11/2021,Raipur,Ranchi,08:55,08:30,"3 stop via New Delhi,Hyderabad,Kolkata","₹ 19,677"

Lenght :  1926

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-04/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1935,IndiGo,04/11/2021,Raipur,Ranchi,09:15,20:15,1 stop via New Delhi,"₹ 10,119"
1936,IndiGo,04/11/2021,Raipur,Ranchi,20:45,07:15,1 stop via New Delhi,"₹ 10,119"
1937,IndiGo,04/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 10,749"
1938,Air India,04/11/2021,Raipur,Ranchi,07:45,09:00,"3 stop via Nagpur,New Delhi,Kolkata","₹ 11,077"
1939,Air India,04/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 13,303"

Lenght :  1940

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-05/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1950,"Vistara, Go First",05/11/2021,Raipur,Ranchi,08:55,14:40,1 stop via New Delhi,"₹ 13,868"
1951,IndiGo,05/11/2021,Raipur,Ranchi,11:30,18:10,1 stop via New Delhi,"₹ 15,106"
1952,IndiGo,05/11/2021,Raipur,Ranchi,11:30,20:15,1 stop via New Delhi,"₹ 15,106"
1953,"Air India, IndiGo",05/11/2021,Raipur,Ranchi,18:50,08:30,"2 stop via New Delhi,Kolkata","₹ 15,759"
1954,"IndiGo, AirAsia",05/11/2021,Raipur,Ranchi,09:25,11:00,"3 stop via Allahabad,New Delhi,Mumbai","₹ 16,515"

Lenght :  1955

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-06/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1967,IndiGo,06/11/2021,Raipur,Ranchi,11:30,18:10,1 stop via New Delhi,"₹ 15,600"
1968,IndiGo,06/11/2021,Raipur,Ranchi,11:30,20:15,1 stop via New Delhi,"₹ 15,600"
1969,"IndiGo, AirAsia",06/11/2021,Raipur,Ranchi,11:30,17:30,1 stop via New Delhi,"₹ 16,337"
1970,IndiGo,06/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 21,564"
1971,Air India,06/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 21,777"

Lenght :  1972

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-07/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1982,"Vistara, Go First",07/11/2021,Raipur,Ranchi,08:55,14:40,1 stop via New Delhi,"₹ 17,177"
1983,IndiGo,07/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 17,469"
1984,IndiGo,07/11/2021,Raipur,Ranchi,11:30,20:15,1 stop via New Delhi,"₹ 17,495"
1985,"IndiGo, AirAsia",07/11/2021,Raipur,Ranchi,09:15,17:30,1 stop via New Delhi,"₹ 18,005"
1986,"IndiGo, AirAsia",07/11/2021,Raipur,Ranchi,11:30,17:30,1 stop via New Delhi,"₹ 22,205"

Lenght :  1987

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-08/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
1999,"IndiGo, AirAsia",08/11/2021,Raipur,Ranchi,11:30,17:30,1 stop via New Delhi,"₹ 12,767"
2000,IndiGo,08/11/2021,Raipur,Ranchi,11:30,18:10,1 stop via New Delhi,"₹ 13,321"
2001,IndiGo,08/11/2021,Raipur,Ranchi,11:30,20:15,1 stop via New Delhi,"₹ 13,321"
2002,IndiGo,08/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 13,846"
2003,Air India,08/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 14,437"

Lenght :  2004

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-09/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2016,IndiGo,09/11/2021,Raipur,Ranchi,15:35,20:05,1 stop via Hyderabad,"₹ 11,116"
2017,IndiGo,09/11/2021,Raipur,Ranchi,09:15,20:15,1 stop via New Delhi,"₹ 11,116"
2018,"IndiGo, AirAsia",09/11/2021,Raipur,Ranchi,09:15,17:30,1 stop via New Delhi,"₹ 11,612"
2019,Air India,09/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,547"
2020,IndiGo,09/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 13,426"

Lenght :  2021

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-10/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2030,"IndiGo, Go First",10/11/2021,Raipur,Ranchi,08:40,18:40,1 stop via Mumbai,"₹ 10,653"
2031,IndiGo,10/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 10,943"
2032,"Air India, Go First",10/11/2021,Raipur,Ranchi,12:30,07:30,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 10,968"
2033,IndiGo,10/11/2021,Raipur,Ranchi,15:35,20:05,1 stop via Hyderabad,"₹ 11,116"
2034,IndiGo,10/11/2021,Raipur,Ranchi,10:00,20:05,1 stop via Hyderabad,"₹ 13,006"

Lenght :  2035

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-11/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2045,IndiGo,11/11/2021,Raipur,Ranchi,11:30,18:10,1 stop via New Delhi,"₹ 10,278"
2046,IndiGo,11/11/2021,Raipur,Ranchi,11:30,20:15,1 stop via New Delhi,"₹ 10,278"
2047,Air India,11/11/2021,Raipur,Ranchi,07:45,09:00,"3 stop via Nagpur,New Delhi,Kolkata","₹ 10,657"
2048,Vistara,11/11/2021,Raipur,Ranchi,08:55,19:40,1 stop via New Delhi,"₹ 11,265"
2049,Air India,11/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,694"

Lenght :  2050

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-12/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2059,Vistara,12/11/2021,Raipur,Ranchi,08:55,19:40,1 stop via New Delhi,"₹ 10,730"
2060,IndiGo,12/11/2021,Raipur,Ranchi,11:30,18:10,1 stop via New Delhi,"₹ 10,801"
2061,IndiGo,12/11/2021,Raipur,Ranchi,11:30,20:15,1 stop via New Delhi,"₹ 10,801"
2062,Vistara,12/11/2021,Raipur,Ranchi,20:20,08:20,1 stop via New Delhi,"₹ 11,265"
2063,Air India,12/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 13,618"

Lenght :  2064

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-13/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2073,IndiGo,13/11/2021,Raipur,Ranchi,09:15,20:15,1 stop via New Delhi,"₹ 10,801"
2074,IndiGo,13/11/2021,Raipur,Ranchi,11:30,18:10,1 stop via New Delhi,"₹ 11,116"
2075,IndiGo,13/11/2021,Raipur,Ranchi,11:30,20:15,1 stop via New Delhi,"₹ 11,116"
2076,Air India,13/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 13,471"
2077,IndiGo,13/11/2021,Raipur,Ranchi,09:05,20:00,1 stop via Kolkata,"₹ 14,324"

Lenght :  2078

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-14/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2088,IndiGo,14/11/2021,Raipur,Ranchi,15:35,20:05,1 stop via Hyderabad,"₹ 10,801"
2089,IndiGo,14/11/2021,Raipur,Ranchi,11:30,20:15,1 stop via New Delhi,"₹ 11,116"
2090,IndiGo,14/11/2021,Raipur,Ranchi,11:30,18:10,1 stop via New Delhi,"₹ 11,326"
2091,IndiGo,14/11/2021,Raipur,Ranchi,09:05,17:50,1 stop via Kolkata,"₹ 11,846"
2092,Air India,14/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 13,009"

Lenght :  2093

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-15/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2102,Vistara,15/11/2021,Raipur,Ranchi,20:20,08:20,1 stop via New Delhi,"₹ 10,238"
2103,IndiGo,15/11/2021,Raipur,Ranchi,15:35,20:05,1 stop via Hyderabad,"₹ 10,278"
2104,"Air India, IndiGo",15/11/2021,Raipur,Ranchi,14:25,07:15,"3 stop via Jagdalpur,Hyderabad,New Delhi","₹ 10,424"
2105,Vistara,15/11/2021,Raipur,Ranchi,08:55,19:40,1 stop via New Delhi,"₹ 10,730"
2106,Air India,15/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,694"

Lenght :  2107

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-16/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2118,IndiGo,16/11/2021,Raipur,Ranchi,11:30,20:15,1 stop via New Delhi,"₹ 10,278"
2119,IndiGo,16/11/2021,Raipur,Ranchi,09:15,20:15,1 stop via New Delhi,"₹ 10,278"
2120,"Air India, IndiGo",16/11/2021,Raipur,Ranchi,14:25,07:15,"3 stop via Jagdalpur,Hyderabad,New Delhi","₹ 10,424"
2121,Air India,16/11/2021,Raipur,Ranchi,09:40,09:00,"2 stop via New Delhi,Kolkata","₹ 11,581"
2122,Air India,16/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 11,893"

Lenght :  2123

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-17/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2132,IndiGo,17/11/2021,Raipur,Ranchi,11:30,18:10,1 stop via New Delhi,"₹ 10,486"
2133,IndiGo,17/11/2021,Raipur,Ranchi,09:15,18:10,1 stop via New Delhi,"₹ 10,486"
2134,IndiGo,17/11/2021,Raipur,Ranchi,11:30,20:15,1 stop via New Delhi,"₹ 10,486"
2135,IndiGo,17/11/2021,Raipur,Ranchi,09:15,20:15,1 stop via New Delhi,"₹ 10,486"
2136,Air India,17/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,232"

Lenght :  2137

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-18/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2147,IndiGo,18/11/2021,Raipur,Ranchi,11:30,18:10,1 stop via New Delhi,"₹ 10,854"
2148,IndiGo,18/11/2021,Raipur,Ranchi,09:15,18:10,1 stop via New Delhi,"₹ 10,854"
2149,Vistara,18/11/2021,Raipur,Ranchi,08:55,19:40,1 stop via New Delhi,"₹ 11,169"
2150,Air India,18/11/2021,Raipur,Ranchi,07:45,09:00,"3 stop via Nagpur,New Delhi,Kolkata","₹ 12,043"
2151,Air India,18/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,355"

Lenght :  2152

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-19/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2160,IndiGo,19/11/2021,Raipur,Ranchi,09:15,18:10,1 stop via New Delhi,"₹ 10,644"
2161,Vistara,19/11/2021,Raipur,Ranchi,08:55,19:40,1 stop via New Delhi,"₹ 10,730"
2162,IndiGo,19/11/2021,Raipur,Ranchi,11:30,18:10,1 stop via New Delhi,"₹ 11,011"
2163,Air India,19/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 13,156"
2164,IndiGo,19/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 13,636"

Lenght :  2165

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-20/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2175,Vistara,20/11/2021,Raipur,Ranchi,08:55,19:40,1 stop via New Delhi,"₹ 10,730"
2176,IndiGo,20/11/2021,Raipur,Ranchi,11:30,18:10,1 stop via New Delhi,"₹ 11,011"
2177,IndiGo,20/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 11,607"
2178,Air India,20/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,694"
2179,Air India,20/11/2021,Raipur,Ranchi,07:45,09:00,"3 stop via Nagpur,New Delhi,Kolkata","₹ 12,852"

Lenght :  2180

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-21/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2191,IndiGo,21/11/2021,Raipur,Ranchi,09:15,20:15,1 stop via New Delhi,"₹ 10,486"
2192,"Vistara, Go First",21/11/2021,Raipur,Ranchi,08:55,14:40,1 stop via New Delhi,"₹ 10,666"
2193,"IndiGo, AirAsia",21/11/2021,Raipur,Ranchi,11:30,17:30,1 stop via New Delhi,"₹ 10,667"
2194,"IndiGo, AirAsia",21/11/2021,Raipur,Ranchi,09:15,17:30,1 stop via New Delhi,"₹ 10,667"
2195,Air India,21/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 13,912"

Lenght :  2196

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-22/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2207,"Air India, IndiGo",22/11/2021,Raipur,Ranchi,14:25,08:30,"3 stop via Jagdalpur,Hyderabad,Kolkata","₹ 12,188"
2208,IndiGo,22/11/2021,Raipur,Ranchi,09:05,20:00,1 stop via Kolkata,"₹ 13,216"
2209,Air India,22/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 13,618"
2210,"Vistara, IndiGo",22/11/2021,Raipur,Ranchi,08:55,08:30,"3 stop via New Delhi,Hyderabad,Kolkata","₹ 18,207"
2211,"Vistara, IndiGo",22/11/2021,Raipur,Ranchi,08:55,08:30,"3 stop via New Delhi,Hyderabad,Kolkata","₹ 18,207"

Lenght :  2212

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-23/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2222,IndiGo,23/11/2021,Raipur,Ranchi,11:30,20:15,1 stop via New Delhi,"₹ 10,329"
2223,IndiGo,23/11/2021,Raipur,Ranchi,09:15,20:15,1 stop via New Delhi,"₹ 10,329"
2224,IndiGo,23/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 10,749"
2225,Air India,23/11/2021,Raipur,Ranchi,09:40,09:00,"2 stop via New Delhi,Kolkata","₹ 11,581"
2226,Air India,23/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 11,893"

Lenght :  2227

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2238,IndiGo,24/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 10,749"
2239,"Air India, IndiGo",24/11/2021,Raipur,Ranchi,14:25,08:30,"3 stop via Jagdalpur,Hyderabad,Kolkata","₹ 11,254"
2240,Air India,24/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 11,893"
2241,"Vistara, IndiGo",24/11/2021,Raipur,Ranchi,08:55,08:30,"3 stop via New Delhi,Hyderabad,Kolkata","₹ 16,576"
2242,"Vistara, IndiGo",24/11/2021,Raipur,Ranchi,08:55,08:30,"3 stop via New Delhi,Hyderabad,Kolkata","₹ 16,755"

Lenght :  2243

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2256,Air India,25/11/2021,Raipur,Ranchi,07:45,09:00,"3 stop via Nagpur,New Delhi,Kolkata","₹ 11,581"
2257,Air India,25/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 11,893"
2258,"Air India, IndiGo",25/11/2021,Raipur,Ranchi,14:25,07:15,"3 stop via Jagdalpur,Hyderabad,New Delhi","₹ 12,267"
2259,"Air India, IndiGo",25/11/2021,Raipur,Ranchi,14:25,07:15,"3 stop via Jagdalpur,Hyderabad,New Delhi","₹ 12,267"
2260,"Air India, IndiGo",25/11/2021,Raipur,Ranchi,14:25,07:15,"3 stop via Jagdalpur,Hyderabad,New Delhi","₹ 12,529"

Lenght :  2261

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2268,IndiGo,26/11/2021,Raipur,Ranchi,15:35,20:05,1 stop via Hyderabad,"₹ 10,119"
2269,IndiGo,26/11/2021,Raipur,Ranchi,10:00,20:05,1 stop via Hyderabad,"₹ 10,119"
2270,"Vistara, Go First",26/11/2021,Raipur,Ranchi,08:55,14:40,1 stop via New Delhi,"₹ 10,666"
2271,IndiGo,26/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 10,749"
2272,Air India,26/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 12,817"

Lenght :  2273

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2289,IndiGo,27/11/2021,Raipur,Ranchi,11:30,20:15,1 stop via New Delhi,"₹ 7,320"
2290,IndiGo,27/11/2021,Raipur,Ranchi,15:35,20:05,1 stop via Hyderabad,"₹ 7,336"
2291,IndiGo,27/11/2021,Raipur,Ranchi,10:00,20:05,1 stop via Hyderabad,"₹ 7,336"
2292,IndiGo,27/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 8,899"
2293,Air India,27/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 9,475"

Lenght :  2294

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2305,"Air India, IndiGo",28/11/2021,Raipur,Ranchi,18:50,08:30,"2 stop via New Delhi,Kolkata","₹ 7,686"
2306,IndiGo,28/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 8,794"
2307,Air India,28/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 9,055"
2308,"Air India, IndiGo",28/11/2021,Raipur,Ranchi,12:30,08:30,"3 stop via Visakhapatnam,New Delhi,Kolkata","₹ 10,353"
2309,"Air India, IndiGo",28/11/2021,Raipur,Ranchi,12:30,08:30,"4 stop via Visakhapatnam,Mumbai,New Delhi,Kolkata","₹ 10,654"

Lenght :  2310

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2323,IndiGo,29/11/2021,Raipur,Ranchi,11:30,18:10,1 stop via New Delhi,"₹ 8,055"
2324,IndiGo,29/11/2021,Raipur,Ranchi,10:00,20:05,1 stop via Hyderabad,"₹ 8,124"
2325,IndiGo,29/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 8,322"
2326,IndiGo,29/11/2021,Raipur,Ranchi,11:30,20:15,1 stop via New Delhi,"₹ 8,475"
2327,Air India,29/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 9,055"

Lenght :  2328

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2341,"IndiGo, AirAsia",30/11/2021,Raipur,Ranchi,09:15,17:30,1 stop via New Delhi,"₹ 7,448"
2342,Air India,30/11/2021,Raipur,Ranchi,18:00,09:00,"2 stop via Jharsuguda,Kolkata","₹ 7,546"
2343,"IndiGo, AirAsia",30/11/2021,Raipur,Ranchi,11:30,17:30,1 stop via New Delhi,"₹ 7,763"
2344,Air India,30/11/2021,Raipur,Ranchi,12:30,12:45,"3 stop via Visakhapatnam,Mumbai,New Delhi","₹ 8,215"
2345,IndiGo,30/11/2021,Raipur,Ranchi,09:45,19:10,1 stop via Bengaluru,"₹ 8,322"

Lenght :  2346

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXR-01/12/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-7-5312db3adbf2>, LINE 25 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message: unknown error: cannot determine loading status
from disconnected: unable to send message to renderer
  (Session info: chrome=95.0.4638.54)

01/12/2021  scraping complete

origin = RPR
destin = IXW

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-IXW-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-7-5312db3adbf2>, LINE 25 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=95.0.4638.54)

30/10/2021  scraping complete

origin = RPR
destin = VTZ

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-VTZ-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-7-5312db3adbf2>, LINE 19 "driver.get(baseDataUrl)  			 # URL requested in browser."): Message: unknown error: cannot determine loading status
from disconnected: received Inspector.detached event
  (Session info: chrome=95.0.4638.54)

30/10/2021  scraping complete

origin = RPR
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-TIR-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-7-5312db3adbf2>, LINE 25 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message: chrome not reachable
  (Session info: chrome=95.0.4638.54)

30/10/2021  scraping complete

origin = RPR
destin = KUU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-KUU-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-7-5312db3adbf2>, LINE 25 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=95.0.4638.54)

30/10/2021  scraping complete

origin = RPR
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-BLR-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-7-5312db3adbf2>, LINE 19 "driver.get(baseDataUrl)  			 # URL requested in browser."): Message: unknown error: cannot determine loading status
from disconnected: received Inspector.detached event
  (Session info: chrome=95.0.4638.54)

30/10/2021  scraping complete

origin = RPR
destin = COK

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-COK-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2353,IndiGo,30/10/2021,Raipur,Kochi,07:30,16:30,1 stop via Mumbai,"₹ 10,654"
2354,IndiGo,30/10/2021,Raipur,Kochi,15:05,22:10,1 stop via Mumbai,"₹ 10,654"
2355,Vistara,30/10/2021,Raipur,Kochi,08:55,18:50,1 stop via New Delhi,"₹ 13,586"
2356,IndiGo,30/10/2021,Raipur,Kochi,14:50,21:45,1 stop via Kolkata,"₹ 15,747"
2357,IndiGo,30/10/2021,Raipur,Kochi,09:00,21:45,1 stop via Kolkata,"₹ 15,747"

Lenght :  2358

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-COK-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2372,"Vistara, IndiGo",31/10/2021,Raipur,Kochi,08:55,07:00,"3 stop via New Delhi,Hyderabad,Bengaluru","₹ 14,691"
2373,"Vistara, IndiGo",31/10/2021,Raipur,Kochi,08:55,07:00,"3 stop via New Delhi,Hyderabad,Bengaluru","₹ 14,691"
2374,Air India,31/10/2021,Raipur,Kochi,18:50,19:15,"2 stop via New Delhi,Mumbai","₹ 16,432"
2375,Air India,31/10/2021,Raipur,Kochi,18:50,19:15,"2 stop via New Delhi,Mumbai","₹ 16,432"
2376,Air India,31/10/2021,Raipur,Kochi,18:00,17:20,"3 stop via Jharsuguda,Kolkata,New Delhi","₹ 17,556"

Lenght :  2377

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-COK-01/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2386,Air India,01/11/2021,Raipur,Kochi,07:45,17:20,"2 stop via Nagpur,New Delhi","₹ 11,728"
2387,Vistara,01/11/2021,Raipur,Kochi,08:55,19:10,1 stop via New Delhi,"₹ 12,291"
2388,Vistara,01/11/2021,Raipur,Kochi,20:20,09:05,1 stop via New Delhi,"₹ 12,291"
2389,Air India,01/11/2021,Raipur,Kochi,12:30,19:15,"2 stop via Visakhapatnam,Mumbai","₹ 13,111"
2390,Air India,01/11/2021,Raipur,Kochi,18:00,17:40,"3 stop via Jharsuguda,Kolkata,New Delhi","₹ 16,191"

Lenght :  2391

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-COK-02/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2402,"IndiGo, Vistara",02/11/2021,Raipur,Kochi,10:00,09:05,"3 stop via Hyderabad,Bengaluru,New Delhi","₹ 18,062"
2403,"IndiGo, Vistara",02/11/2021,Raipur,Kochi,08:40,09:05,"3 stop via Mumbai,Bengaluru,New Delhi","₹ 18,062"
2404,"IndiGo, Vistara",02/11/2021,Raipur,Kochi,10:30,09:05,"3 stop via Indore,Bengaluru,New Delhi","₹ 18,602"
2405,"IndiGo, Vistara",02/11/2021,Raipur,Kochi,09:45,09:05,"2 stop via Bengaluru,New Delhi","₹ 18,660"
2406,"IndiGo, Vistara",02/11/2021,Raipur,Kochi,09:45,09:05,"2 stop via Bengaluru,New Delhi","₹ 18,660"

Lenght :  2407

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-COK-03/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2415,Air India,03/11/2021,Raipur,Kochi,12:30,19:15,"2 stop via Visakhapatnam,Mumbai","₹ 11,431"
2416,Vistara,03/11/2021,Raipur,Kochi,20:20,09:05,1 stop via New Delhi,"₹ 12,291"
2417,Vistara,03/11/2021,Raipur,Kochi,08:55,19:10,1 stop via New Delhi,"₹ 12,469"
2418,IndiGo,03/11/2021,Raipur,Kochi,14:35,21:05,1 stop via Mumbai,"₹ 14,739"
2419,Air India,03/11/2021,Raipur,Kochi,18:00,17:20,"3 stop via Jharsuguda,Kolkata,New Delhi","₹ 17,031"

Lenght :  2420

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-COK-04/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2432,Air India,04/11/2021,Raipur,Kochi,07:45,11:25,"4 stop via Nagpur,New Delhi,Bengaluru,Mysore","₹ 12,327"
2433,Air India,04/11/2021,Raipur,Kochi,12:30,19:15,"2 stop via Visakhapatnam,Mumbai","₹ 13,111"
2434,Air India,04/11/2021,Raipur,Kochi,18:50,19:15,"2 stop via New Delhi,Mumbai","₹ 15,697"
2435,Air India,04/11/2021,Raipur,Kochi,18:50,19:15,"2 stop via New Delhi,Mumbai","₹ 15,697"
2436,Air India,04/11/2021,Raipur,Kochi,18:00,17:20,"3 stop via Jharsuguda,Kolkata,New Delhi","₹ 17,556"

Lenght :  2437

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-COK-05/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,30/10/2021,Raipur,Goa,07:30,12:40,1 stop via Mumbai,"₹ 7,704"
2,IndiGo,30/10/2021,Raipur,Goa,08:05,14:50,1 stop via New Delhi,"₹ 7,704"
3,IndiGo,30/10/2021,Raipur,Goa,12:10,21:20,1 stop via New Delhi,"₹ 7,704"
4,IndiGo,30/10/2021,Raipur,Goa,10:25,14:10,1 stop via Indore,"₹ 8,544"
...,...,...,...,...,...,...,...,...
2446,Vistara,05/11/2021,Raipur,Kochi,20:20,09:05,1 stop via New Delhi,"₹ 13,586"
2447,IndiGo,05/11/2021,Raipur,Kochi,11:30,22:45,1 stop via New Delhi,"₹ 17,243"
2448,Air India,05/11/2021,Raipur,Kochi,18:50,19:15,"2 stop via New Delhi,Mumbai","₹ 17,356"
2449,Air India,05/11/2021,Raipur,Kochi,18:50,19:15,"2 stop via New Delhi,Mumbai","₹ 17,356"
2450,Vistara,05/11/2021,Raipur,Kochi,08:55,19:10,1 stop via New Delhi,"₹ 18,414"

Lenght :  2451

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=RPR-COK-06/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E